.ls-toggle-menu{
    .navbar-brand{
        a{
            display: none
        }
        .btn-menu{
            // i::before{
            //     content:'\f105'
            // }
        } 
    }
    .slimScrollDiv{
        overflow: visible !important;
        // .list{
        //     overflow: visible !important
        // }
        
    }
    .sidebar{
        width: 50px;
        .user-info{
            .image{
                padding: 8px !important;
                img{
                    box-shadow: none
                }
            }
            .detail{
                display: none;
            }
        }
        .menu{
            .list{
                margin:0;
                overflow: visible !important;
                li{
                    position: relative;
                    a{
                        padding: 10px 0;
                        text-align: center;
                        span{
                            display: none;
                        }
                    }
                    .ml-menu{
                        background: $color-light;
                        min-width: 240px;
                        display: none !important;
                        position: absolute;
                        top: 0;
                        left: 50px;
                        padding: 15px 15px 15px 5px;
                        text-align: left;
                        box-shadow: 0px 10px 50px 0px rgba(41, 42, 51, 0.2);
                    }
                    &:hover{
                        .ml-menu{
                            display: block !important;
                            li{
                                a{
                                    text-align: left;
                                }
                            }
                        }
                    }
                    &.open_top{
                        .ml-menu{
                            bottom: 0;
                            top: auto;
                        }
                    }
                    .menu-toggle{
                        &::before,
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 768px) {
        .sidebar{
            .menu{
                .list{
                    a{
                        padding: 8px 0
                    }
                }
            }
        }
    }
}
.right_icon_toggle{
    .right_icon_toggle_btn{
        i::before{
            content: '\f273';
        }
    }
    .navbar-right{
        .navbar-nav{
            right: -70px
        }
    }
    section.content {
        margin-right: 20px
    }
}

.ls-closed{
    .sidebar {
        position: fixed;
    }
    section.content {
        margin-left: 60px;
        margin-right: 40px
    }
    .navbar-right{
        .navbar-nav {
            width: 30px;
            margin: 0 5px;
            li{
                a{
                    width: 30px
                }
            }
        }
    } 
    @media only screen and (max-width: 768px) {
        .page-wrapper {
            margin-right: 10px;
            padding: 0;
            overflow: visible !important;
            height: 100%;
            .slimScrollDiv {
                height: auto !important;
                overflow: visible !important;
                .body_scroll {
                    height: auto !important;
                    overflow: visible !important
                }
            }
        }
        .navbar-right {
            .navbar-nav {
                right: 0;
            }
        }
    }
    
    
}
.mobile_menu {
    display: none;
    position: fixed !important;
    top: 10px;
    right: 38px;
    z-index: 9999
}
@media only screen and (max-width: 767px) {
    .mobile_menu {
        display: block
    }
    .ls-closed{
        .sidebar {
            position: fixed;
        }
        .page-wrapper {
            margin-left: 60px;
        }
        .navbar-right{
            .navbar-nav {
                width: 30px;
                margin: 0 5px;
                li{
                    a{
                        width: 30px
                    }
                }
            }
        } 
    }
}