
.z-index {
    z-index: 9999
}
.mrt30{
    margin-top:30px;
}
.mrb30{
    margin-bottom: 30px;
}
.pd-0{
    padding:0!important;
}
.m-l-10,
.dropdown-menu ul.menu .menu-info,
.mcard_2 .user .details,
.contact .c_list .c_name {
    margin-left: 10px
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}


.margin-0,
.card .header .header-dropdown,
.card .header h2,
.media .media-body .media-heading,
.wizard .content,
.wizard .content .body label.error,
.dropdown-menu ul.menu .menu-info h4,
.dropdown-menu ul.menu .menu-info p,
.profile_state {
    margin: 0 !important
}

.p-l-0,
.sidebar .menu .list,
.sidebar .menu .list .ml-menu,
.dropdown-menu ul.menu,
.invoice .nav-tabs {
    padding-left: 0px
}



@media only screen and (max-width: 767px) {
    .block-header .col-lg-5.col-md-6.col-sm-12 {
        display: none
    }
}


.card {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border: 0;
    position: relative;
    width: 100%;
    box-shadow: none;
    background: transparent;
    .card-header{
        background-color: $color-white;
    }
    .body{
        font-weight: 400;
        border-radius: .35rem;
        background: $color-light;
        font-size: 14px;
        color: $color-primary;
        padding: 20px;
    }
}
main.content {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: $color-bg;
    position: relative;
    // margin: 20px 70px 20px 260px;
    box-shadow: 0 0 16px rgba(41, 42, 51, 0.06), 0 6px 20px rgba(41, 42, 51, 0.02)
}
.page-wrapper{
    @include animate_all(all 0.5s);
    position: relative;
    margin-left:260px;
}





