

@mixin translatey {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@mixin flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
}
@mixin flexjust {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@mixin flexvr{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
@mixin rowflex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@mixin rowcol {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@mixin coverbg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
@mixin parallax {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

@mixin overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin loadpopup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 11000;
    &.open {
        -webkit-transform: translate(0px, 0px) scale(1, 1);
        -moz-transform: translate(0px, 0px) scale(1, 1);
        -o-transform: translate(0px, 0px) scale(1, 1);
        -ms-transform: translate(0px, 0px) scale(1, 1);
        transform: translate(0px, 0px) scale(1, 1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@mixin harmburger {
    .toggle-button{
        position:relative;
        width:30px;
        height:30px;
        @include animate;
        float: right;
        display: none;
        margin-top: 10px;
        span{
          position:absolute;
          height:4px;
          border-radius:4px;
          width:100%;
          background-color:$color-blue;
          top:0;
          transition:transform .2s ease-in-out, opacity .2s ease-in-out;
          z-index:999;
          &:nth-child(1){
            top:0;
          }
          &:nth-child(2),
          &:nth-child(3){
            top:10px;
          }
          &:nth-child(4){
            top:20px;
          }
        }
        &.active{
            position: absolute;
            top:15px;
            right:15px;
          span{
            &:nth-child(1),
            &:nth-child(4){
              opacity:0;
            }
            &:nth-child(2){
              transform:rotate(45deg);
              background-color:$color-blue;
            }
            &:nth-child(3){
              transform:rotate(-45deg);
              background-color:$color-blue;
            }
          }
        }
      }
}

@mixin radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin radius-mix($radius...) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin linx ($link, $visit, $hover, $active) {
    a {
      color: $link;
      &:visited {
        color: $visit;
      }
      &:hover {
        color: $hover;   
      }
      &:active {
        color: $active;
      }
    }
  }
  
// @mixin pseudo($display: block, $pos: absolute, $content: ''){
//     content: $content;
//     display: $display;
//     position: $pos;
// }

@mixin boxshadow ($boxshadow){
    -webkit-box-shadow: $boxshadow;
    -ms-box-shadow: $boxshadow;
    -o-box-shadow: $boxshadow;
    box-shadow: $boxshadow;
}
// @mixin cover($bs:cover,$br:no-repeat,$pos){
//     background-size:$bs;
//     background-repeat: $br;
//     background-position:$pos;
// }

$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// @mixin transform($pos:absolute,$translatey) {
//     -webkit-transform: $translatey;
//     -ms-transform: $translatey;
//     transform: $translatey;
//     position: $pos;
// }


@mixin animate_all($animate_all){
    -moz-transition: $animate_all;
    -o-transition: $animate_all;
    -webkit-transition: $animate_all;
    transition: $animate_all;
    // transition: all 0.5s;
}
// @mixin  anim05{
//     -moz-transition: all 0.5s;
//     -o-transition: all 0.5s;
//     -webkit-transition: all 0.5s;
//     transition: all 0.5s;
// }
@mixin  easein_out($easein_out){
    -moz-transition: $easein_out;
    -o-transition: $easein_out;
    -webkit-transition: $easein_out;
    transition: $easein_out;
    // transition: all 0.3s ease-in-out;
}
@mixin  linear($linear){
    -moz-transition: $linear;
    -o-transition: $linear;
    -webkit-transition: $linear;
    transition: $linear;
    // transition: all 0.3s linear;
}

@mixin transform_scale($transform_scale){
    -moz-transform: $transform_scale;
    -ms-transform: $transform_scale;
    -o-transform: $transform_scale;
    -webkit-transform: $transform_scale;
    transform:$transform_scale;
    // transform:scale(0);
}

@mixin placeholder($color) {
    ::-webkit-input-placeholder {color: $color}
    :-moz-placeholder           {color: $color}
    ::-moz-placeholder          {color: $color}
    :-ms-input-placeholder      {color: $color}
  }

@mixin loadpopup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);
    // -webkit-transition: all 0.5s ease-in-out;
    // -moz-transition: all 0.5s ease-in-out;
    // -o-transition: all 0.5s ease-in-out;
    // transition: all 0.5s ease-in-out;
    // -moz-transform: scale(0);
    // -ms-transform: scale(0);
    // -o-transform: scale(0);
    // -webkit-transform: scale(0);
    // opacity: 0;
    display: none;
    z-index: 1011111;
    &.open {
        // -webkit-transform: translate(0px, 0px) scale(1, 1);
        // -moz-transform: translate(0px, 0px) scale(1, 1);
        // -o-transform: translate(0px, 0px) scale(1, 1);
        // -ms-transform: translate(0px, 0px) scale(1, 1);
        // transform: translate(0px, 0px) scale(1, 1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
        z-index: 999;
    }
}

@mixin harmburger {
    .toggle-button{
        position:relative;
        width:30px;
        height:30px;
        @include linear($linear:all 0.5s linear);
        float: right;
        display: none;
        margin-top: 10px;
        span{
          position:absolute;
          height:4px;
          border-radius:4px;
          width:100%;
          background-color:$color-blue;
          top:0;
          transition:transform .2s ease-in-out, opacity .2s ease-in-out;
          z-index:999;
          &:nth-child(1){
            top:0;
          }
          &:nth-child(2),
          &:nth-child(3){
            top:10px;
          }
          &:nth-child(4){
            top:20px;
          }
        }
        &.active{
            position: absolute;
            top:15px;
            right:15px;
          span{
            &:nth-child(1),
            &:nth-child(4){
              opacity:0;
            }
            &:nth-child(2){
              transform:rotate(45deg);
              background-color:$color-blue;
            }
            &:nth-child(3){
              transform:rotate(-45deg);
              background-color:$color-blue;
            }
          }
        }
      }
}

@mixin backface($backface){
    -moz-backface-visibility: $backface;
    -webkit-backface-visibility: $backface;
    backface-visibility: $backface;
}