{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="/dashboard/budget-list"><i class="material-icons">assignment</i> Budget</a>
            </li>
            <li>New</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="POST">

        {% csrf_token %}
        
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        <div class="default-form">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-wrapper">
                        <div class="form-group">
                            <label for="id_supplier_id">Select Supplier</label>
                            <select name="supplier_id" id="id_supplier_id" class="custom-select">
                                {% for partner in partners %}

                                {% if form.instance.supplier_id.id == partner.id %}

                                <option value="{{partner.id}}" selected>{{partner.name}}</option>

                                {% else %}

                                <option value="{{partner.id}}">{{partner.name}}</option>

                                {% endif %}


                                {% endfor %}

                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_program_id">Select Program</label>
                        <select name="program_id" id="id_program_id" class="custom-select">
                            {% for program in programs %}

                            {% if form.instance.program_id.id == program.id %}

                            <option value="{{program.id}}" selected>{{program.name}}</option>

                            {% else %}

                            <option value="{{program.id}}">{{program.name}}</option>

                            {% endif %}


                            {% endfor %}

                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="col-wrapper">
                        <div class="form-group">
                            <label for="id_component_id">Select Component</label>
                            <select name="component_id" id="id_component_id" class="custom-select">
                                {% for project in projects %}

                                {% if form.instance.component_id.id == project.id %}

                                <option value="{{project.id}}" selected>{{project.name}}</option>

                                {% else %}

                                <option value="{{project.id}}">{{project.name}}</option>

                                {% endif %}


                                {% endfor %}

                            </select>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_approved_budget" class="">Approved Budget</label>
                        <input type="number" name="approved_budget" class="form-control" value="{{form.instance.approved_budget}}" step="any"
                               id="id_approved_budget"
                               placeholder="Name"/>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_spend_budget" class="">Spend Budget</label>
                        <input type="number" name="spend_budget" class="form-control" value="{{form.instance.spend_budget}}" step="any"
                               id="id_spend_budget"
                               placeholder="84349"/>

                    </div>
                </div>

            </div>


            <div class="form-group mrt-100">
                <button type="submit" class="dfid-button sm-button">Save</button>
            </div>

        </div>


        <!-- category form -->


    </form>
</main>

{% endblock %}

