{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <section class="section dfid-highlight mrtb-100">
        <div class="section-title">
            <h4>Dvs highlight</h4>
        </div>
        <div class="highlight-wrapper">
            <div class="highlight-row">
                <div class="highlight-card">
                    <a class="highlight-body" href="#">
                        <h5>Active programs</h5>
                        <h3>10<sup>/20</sup></h3>
                    </a>

                </div>
                <div class="highlight-card">
                    <a class="highlight-body" href="/dashboard/partner-list">
                        <h5>Partners</h5>
                        <h3>41</h3>
                    </a>

                </div>
                <div class="highlight-card">
                    <a class="highlight-body" href="/dashboard/sector-list">
                        <h5>Sectors</h5>
                        <h3>10</h3>
                    </a>
                </div>
                <div class="highlight-card">
                    <a class="highlight-body" href="/dashboard/province-list">
                        <h5>Provinces</h5>
                        <h3>7</h3>
                    </a>

                </div>
                <div class="highlight-card">
                    <a class="highlight-body" href="/dashboard/district-list">
                        <h5>Districs</h5>
                        <h3>77</h3>
                    </a>

                </div>
                <div class="highlight-card">
                    <a class="highlight-body" href="/dashboard/palika-list">
                        <h5>Municipalities</h5>
                        <h3>753</h3>
                    </a>

                </div>
            </div>
        </div>
    </section>

    <!-- welocme  -->
    <div class="welcome-user">
        <h2>Welcome to DVS, <span>{{user.name}}</span></h2>
    </div>

    {% if group.name == 'admin' %}


    <section class="section overview">
        <div class="section-title">
            <h4>Activities</h4>
        </div>
        <div class="activities-category">
            <h5 class="activities-category">New</h5>
            <!-- program -->
            {% for log in logs|slice:":2" %}
            <div class="dfid-program">
                <div class="row">
                    <div class="col-xl-4 col-lg-6">
                        <div class="organization flex-start">
                            <figure>
                                {% if user.thumbnail %}
                                <img src="{{ user.thumbnail.url }}" class="user-image"
                                     alt="User Image">
                                {% else %}
                                <img src="{% static 'dashboard/images/admin.png' %}" class="user-image"
                                     alt="User Image">
                                {% endif %}
                            </figure>
                            <h4>{{log.user.name}}</h4>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="programm-content">
                            <div class="flex-start">
                                <!-- <i class="material-icons">person</i> -->
                                <div class="content">
                                    <!-- <p>Added new implementing partner</p> -->
                                    <h6>{{log.message}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <time>{{log.date}}</time>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        {% if log.type == 'update' %}
                        <div class="status yellow">
                            {{log.type}}
                        </div>
                        {% else %}
                        <div class="status green">
                            {{log.type}}
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>

            {% endfor %}


        </div>
        <div class="activities-category mt-5">
            <h5 class="activities-category">old</h5>
            <!-- program -->
             {% for log in logs|slice:"2:" %}
            <div class="dfid-program">
                <div class="row">
                    <div class="col-xl-4 col-lg-6">
                        <div class="organization flex-start">
                            <figure>
                                {% if user.thumbnail %}
                                <img src="{{ user.thumbnail.url }}" class="user-image"
                                     alt="User Image">
                                {% else %}
                                <img src="{% static 'dashboard/images/admin.png' %}" class="user-image"
                                     alt="User Image">
                                {% endif %}
                            </figure>
                            <h4>{{log.user.name}}</h4>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="programm-content">
                            <div class="flex-start">
                                <!-- <i class="material-icons">person</i> -->
                                <div class="content">
                                    <!-- <p>Added new implementing partner</p> -->
                                    <h6>{{log.message}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <time>{{log.date}}</time>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                         {% if log.type == 'update' %}
                        <div class="status yellow">
                            {{log.type}}
                        </div>
                        {% else %}
                        <div class="status green">
                            {{log.type}}
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>

            {% endfor %}

        </div>

    </section>


    {% else %}
    <!-- overview -->
    <section class="section overview">
        <div class="section-title">
            <h4>Overview</h4>
            <a href="/dashboard/five-list" class="border-button dfid-button sm-button">View all</a>
        </div>
        <!-- program -->
        {% for five in fives %}
        <div class="dfid-program">
            {% if five.status == 'completed' %}
            <div class="status green">Completed</div>
            {% else %}
            <div class="status yellow">Ongoing</div>
            {% endif %}


            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="about-program">
                        <div class="program-name">
                            <h3>{{five.program_id}}</h3>
                        </div>
                        <div class="organization flex-start">
                            <figure>
                                <img src="{% static 'dashboard/images/organization.svg' %}" alt="organization"/>
                            </figure>
                            <h4>{{five.partner_id}}</h4>
                        </div>
                        <!-- hide Content -->
                        <ul class="program-content hide-details">
                            {% for contact in five.partner_id.PartnerContact.all %}
                            <li>

                                <div class="content">
                                    <h6>Representative</h6>
                                    <p><a href="#">{{contact.name}}</a></p>
                                    <p>{{contact.phone_number}}</p>
                                    <p>{{contact.email}}</p>
                                </div>

                            </li>
                            {% endfor %}
                            <li>
                                <div class="content">
                                    <h6>Code</h6>
                                    <p>{{five.program_id.code}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="program-info">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <ul class="program-content">
                                    <li class="equalHeight">
                                        <i class="material-icons">category</i>
                                        <div class="content">
                                            <h6>Broad Sectors</h6>
                                            {% for sector in five.component_id.sector.all %}
                                            <p>{{ sector }}</p>
                                            {% endfor %}
                                        </div>
                                    </li>
                                    <li class="equalHeight">
                                        <i class="material-icons">room</i>
                                        <div class="content">
                                            <h6>Province</h6>
                                            <p>{{five.province_id}}</p>
                                        </div>
                                    </li>
                                </ul>
                                <!-- hide Content -->
                                <div class="program-details hide-details">
                                    <ul class="mr-left">
                                        <li>
                                            <div class="content">
                                                <h6>District</h6>
                                                <p>{{ five.district_id }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="content">
                                                <h6>Municipality</h6>
                                                <p>{{five.municipality_id}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <ul class="program-content">
                                </ul>
                                <!-- hide Content -->
                                <div class="program-details hide-details">
                                    <ul class="program-content">
                                        <li class="equalHeight">
                                            <div class="content">
                                                <h6>Marker</h6>

                                                {% for marker in five.program_id.marker_value.all %}
                                                <p>{{ marker }}</p>
                                                {% endfor %}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <ul class="program-content">
                                    <li class="equalHeight">
                                        <i class="material-icons">monetization_on</i>
                                        <div class="content">
                                            <h6>Budget</h6>
                                            <h5>{{five.allocated_budget}}</h5>
                                        </div>
                                    </li>
                                </ul>
                                <!-- hide Content -->
                                <div class="program-details hide-details">
                                    <ul class="program-content">
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- hide Content description -->
                        <div class="description hide-details">
                            <ul class="program-content">
                                <li>
                                    <!--                                    <div class="content">-->
                                    <!--                                        <h6>Description</h6>-->
                                    <!--                                        <p>Under this project, AAIN has maintained stocks in its western and-->
                                    <!--                                            eastern regional offices and does partnership during emergencies-->
                                    <!--                                            for distribution of stocks but does not do financial transaction-->
                                    <!--                                        </p>-->
                                    <!--                                    </div>-->
                                </li>
                            </ul>
                            <div class="action-btn flex-end">
                                <a href="/dashboard/program-delete/{{five.program_id.id}}" class="border-button dfid-button sm-button">Delete</a>
                                <a href="/dashboard/program-edit/{{five.program_id.id}}" class="dfid-button sm-button">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="program-footer flex-center">
                <a href="#">View details <i class="material-icons">expand_less</i></a>
            </div>

        </div>


        {% endfor %}
    </section>


    {% endif %}

</main>
{% endblock %}