{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <section class="section dfid-highlight mrtb-100">
        <div class="section-title">
            <h4>Dfid highlight</h4>
        </div>
        <div class="highlight-wrapper">
            <div class="highlight-row">
                <div class="highlight-card">
                    <a class="highlight-body" href="#">
                        <h5>Active programs</h5>
                        <h3>10<sup>/20</sup></h3>
                    </a>

                </div>
                <div class="highlight-card">
                    <a class="highlight-body" href="/dashboard/partner-list">
                        <h5>Partners</h5>
                        <h3>41</h3>
                    </a>

                </div>
                <div class="highlight-card">
                    <a class="highlight-body" href="/dashboard/sector-list">
                        <h5>Sectors</h5>
                        <h3>10</h3>
                    </a>
                </div>
                <div class="highlight-card">
                    <a class="highlight-body" href="/dashboard/province-list">
                        <h5>Provinces</h5>
                        <h3>7</h3>
                    </a>

                </div>
                <div class="highlight-card">
                    <a class="highlight-body" href="/dashboard/district-list">
                        <h5>Districs</h5>
                        <h3>77</h3>
                    </a>

                </div>
                <div class="highlight-card">
                    <a class="highlight-body" href="/dashboard/palika-list">
                        <h5>Municipalities</h5>
                        <h3>753</h3>
                    </a>

                </div>
            </div>
        </div>
    </section>

    <!-- welocme  -->
    <div class="welcome-user">
        <h2>Welcome to DVS, <span>{{user.name}}</span></h2>
    </div>

    <!-- overview -->
    <section class="section overview">
        <div class="section-title">
            <h4>Overview</h4>
        </div>
        <!-- program -->
        {% for five in fives %}
        <div class="dfid-program">
            {% if five.status == 'completed' %}
            <div class="status green">Completed</div>
            {% else %}
            <div class="status yellow">Ongoing</div>
            {% endif %}


            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="about-program">
                        <div class="program-name">
                            <h3>{{five.program_id}}</h3>
                        </div>
                        <div class="organization flex-start">
                            <figure>
                                <img src="{% static 'dashboard/images/organization.svg' %}" alt="organization"/>
                            </figure>
                            <h4>{{five.partner_id}}</h4>
                        </div>
                        <!-- hide Content -->
                        <ul class="program-content hide-details">
                            {% for contact in five.partner_id.PartnerContact.all %}
                            <li>

                                <div class="content">
                                    <h6>Representative</h6>
                                    <p><a href="#">{{contact.name}}</a></p>
                                    <p>{{contact.phone_number}}</p>
                                    <p>{{contact.email}}</p>
                                </div>

                            </li>
                            {% endfor %}
                            <li>
                                <div class="content">
                                    <h6>Code</h6>
                                    <p>{{five.partner_id.code}}</p>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <h6>IATI Identifier</h6>
                                    <p>{{five.partner_id.code}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="program-info">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <ul class="program-content">
                                    <li class="equalHeight">
                                        <i class="material-icons">category</i>
                                        <div class="content">
                                            <h6>Broad Sectors</h6>
                                            {% for sector in five.program_id.sector.all %}
                                            <p>{{ sector }}</p>
                                            {% endfor %}
                                        </div>
                                    </li>
                                    <li class="equalHeight">
                                        <i class="material-icons">room</i>
                                        <div class="content">
                                            <h6>Province</h6>
                                            <p>{{five.province_id}}</p>
                                        </div>
                                    </li>
                                </ul>
                                <!-- hide Content -->
                                <div class="program-details hide-details">
                                    <ul class="mr-left">
                                        <li>
                                            <div class="content">
                                                <h6>District</h6>
                                                <p>{{ five.district_id }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="content">
                                                <h6>Municipality</h6>
                                                <p>{{five.municipality_id}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <ul class="program-content">
                                    <li class="equalHeight">
                                        <div class="content">
                                            <h6>Implementing Partners</h6>
                                            <p>{{five.implementing_partner_first_id}}</p>
                                            <p>{{five.implementing_partner_second_id}}</p>
                                            <p>{{five.implementing_partner_third_id}}</p>
                                            <p>{{five.implementing_partner_fourth_id}}</p>
                                        </div>
                                    </li>
                                    <li class="equalHeight">
                                        <div class="content">
                                            <h6>Local Partners</h6>
                                            <p>{{five.local_partner_first_id}}</p>
                                            <p>{{five.local_partner_second_id}}</p>
                                            <p>{{five.local_partner_third_id}}</p>
                                        </div>
                                    </li>
                                </ul>
                                <!-- hide Content -->
                                <div class="program-details hide-details">
                                    <ul class="program-content">
                                        <li class="equalHeight">
                                            <div class="content">
                                                <h6>Marker</h6>

                                                {% for marker in five.program_id.marker_value.all %}
                                                <p>{{ marker }}</p>
                                                {% endfor %}
                                            </div>
                                        </li>
                                        <li class="equalHeight">
                                            <div class="content">
                                                <h6>Reporting Ministry Line</h6>
                                                <p>{{five.reporting_ministry_line}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <ul class="program-content">
                                    <li class="equalHeight">
                                        <i class="material-icons">monetization_on</i>
                                        <div class="content">
                                            <h6>Budget</h6>
                                            <h5>{{five.budget}}</h5>
                                        </div>
                                    </li>
                                    <li class="equalHeight">
                                        <i class="material-icons">calendar_today</i>
                                        <div class="content">
                                            <h6>Start date</h6>
                                            <p>{{five.start_date}}</p>
                                        </div>
                                    </li>
                                </ul>
                                <!-- hide Content -->
                                <div class="program-details hide-details">
                                    <ul class="program-content">
                                        <li class="equalHeight">
                                            <i class="material-icons">calendar_today</i>
                                            <div class="content">
                                                <h6>End Date</h6>
                                                <p>{{five.end_date}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- hide Content description -->
                        <div class="description hide-details">
                            <ul class="program-content">
                                <li>
<!--                                    <div class="content">-->
<!--                                        <h6>Description</h6>-->
<!--                                        <p>Under this project, AAIN has maintained stocks in its western and-->
<!--                                            eastern regional offices and does partnership during emergencies-->
<!--                                            for distribution of stocks but does not do financial transaction-->
<!--                                        </p>-->
<!--                                    </div>-->
                                </li>
                            </ul>
                            <div class="action-btn flex-end">
                                <a href="#" class="border-button dfid-button sm-button">Delete</a>
                                <a href="#" class="dfid-button sm-button">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="program-footer flex-center">
                <a href="#">View details <i class="material-icons">expand_less</i></a>
            </div>

        </div>
        <!--        <div class="dfid-program">-->
        <!--            <div class="status yellow">-->
        <!--                ongoging-->
        <!--            </div>-->
        <!--            <div class="row">-->
        <!--                <div class="col-xl-3 col-lg-4">-->
        <!--                    <div class="about-program">-->
        <!--                        <div class="program-name">-->
        <!--                            <h3>Post-Earthquake Reconstruction in Nepal</h3>-->
        <!--                        </div>-->
        <!--                        <div class="organization flex-start">-->
        <!--                            <figure>-->
        <!--                                <img src="{% static 'dashboard/images/organization.svg' %}" alt="organization"/>-->
        <!--                            </figure>-->
        <!--                            <h4>ActionAid International</h4>-->
        <!--                        </div>-->
        <!--                        <ul class="program-content hide-details">-->
        <!--                            <li>-->

        <!--                                <div class="content">-->
        <!--                                    <h6>Representative</h6>-->
        <!--                                    <p><a href="#">Dinesh Gurung</a></p>-->
        <!--                                    <p>01 4002177</p>-->
        <!--                                    <p>dinesh.gurung@actionaid.org</p>-->
        <!--                                </div>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <div class="content">-->
        <!--                                    <h6>Code</h6>-->
        <!--                                    <p>108538</p>-->
        <!--                                </div>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <div class="content">-->
        <!--                                    <h6>IATI Identifier</h6>-->
        <!--                                    <p>GB-1-204857-105</p>-->
        <!--                                </div>-->
        <!--                            </li>-->
        <!--                        </ul>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="col-xl-9 col-lg-8">-->
        <!--                    <div class="program-info">-->
        <!--                        <div class="row">-->
        <!--                            <div class="col-lg-4 col-md-6">-->
        <!--                                <ul class="program-content">-->
        <!--                                    <li>-->
        <!--                                        <i class="material-icons">category</i>-->
        <!--                                        <div class="content">-->
        <!--                                            <h6>Broad Sectors</h6>-->
        <!--                                            <p>EP - Environment Protection</p>-->
        <!--                                            <p>PS - Production Sector</p>-->
        <!--                                        </div>-->
        <!--                                    </li>-->
        <!--                                    <li>-->
        <!--                                        <i class="material-icons">room</i>-->
        <!--                                        <div class="content">-->
        <!--                                            <h6>Province</h6>-->
        <!--                                            <p>Gandaki</p>-->
        <!--                                            <p>Karnali</p>-->
        <!--                                        </div>-->
        <!--                                    </li>-->
        <!--                                </ul>-->
        <!--                                <div class="program-details hide-details">-->
        <!--                                    <ul class="mr-left">-->
        <!--                                        <li>-->
        <!--                                            <div class="content">-->
        <!--                                                <h6>District</h6>-->
        <!--                                                <p>Terhathum</p>-->
        <!--                                                <p>Morang</p>-->
        <!--                                            </div>-->
        <!--                                        </li>-->
        <!--                                        <li>-->
        <!--                                            <div class="content">-->
        <!--                                                <h6>Municipality</h6>-->
        <!--                                                <p>Aathrai Gaunpalika</p>-->
        <!--                                                <p>Biratnagar Mahanagarpalika</p>-->
        <!--                                            </div>-->
        <!--                                        </li>-->
        <!--                                    </ul>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="col-lg-4 col-md-6">-->
        <!--                                <ul class="program-content">-->
        <!--                                    <li>-->
        <!--                                        <div class="content">-->
        <!--                                            <h6>Implementing Partner</h6>-->
        <!--                                            <p>Bagmati Welfare Society</p>-->
        <!--                                            <p>Nari Bikas Sangh</p>-->
        <!--                                        </div>-->
        <!--                                    </li>-->
        <!--                                    <li>-->
        <!--                                        <div class="content">-->
        <!--                                            <h6>Local Partner</h6>-->
        <!--                                            <p>Dalit Awareness Society</p>-->
        <!--                                        </div>-->
        <!--                                    </li>-->
        <!--                                </ul>-->
        <!--                                <div class="program-details hide-details">-->
        <!--                                    <ul class="program-content">-->
        <!--                                        <li>-->
        <!--                                            <div class="content">-->
        <!--                                                <h6>Marker</h6>-->
        <!--                                                <p>Dissertification (Significant)</p>-->
        <!--                                            </div>-->
        <!--                                        </li>-->
        <!--                                        <li>-->
        <!--                                            <div class="content">-->
        <!--                                                <h6>Reporting Ministry Line</h6>-->
        <!--                                                <p>Ministry of Health and Population</p>-->
        <!--                                            </div>-->
        <!--                                        </li>-->
        <!--                                    </ul>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="col-lg-4 col-md-6">-->
        <!--                                <ul class="program-content">-->
        <!--                                    <li>-->
        <!--                                        <i class="material-icons">monetization_on</i>-->
        <!--                                        <div class="content">-->
        <!--                                            <h6>Budget</h6>-->
        <!--                                            <h5>GBP 89,413</h5>-->
        <!--                                        </div>-->
        <!--                                    </li>-->
        <!--                                    <li>-->
        <!--                                        <i class="material-icons">calendar_today</i>-->
        <!--                                        <div class="content">-->
        <!--                                            <h6>Start date</h6>-->
        <!--                                            <p>June 03, 2012</p>-->
        <!--                                        </div>-->
        <!--                                    </li>-->
        <!--                                </ul>-->
        <!--                                <div class="program-details hide-details">-->
        <!--                                    <ul class="program-content">-->
        <!--                                        <li>-->
        <!--                                            <div class="content">-->
        <!--                                                <h6>End Date</h6>-->
        <!--                                                <p>April 30, 2020</p>-->
        <!--                                            </div>-->
        <!--                                        </li>-->
        <!--                                    </ul>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="description hide-details">-->
        <!--                            <ul class="program-content">-->
        <!--                                <li>-->
        <!--                                    <div class="content">-->
        <!--                                        <h6>Description</h6>-->
        <!--                                        <p>Under this project, AAIN has maintained stocks in its western and-->
        <!--                                            eastern regional offices and does partnership during emergencies-->
        <!--                                            for distribution of stocks but does not do financial transaction-->
        <!--                                        </p>-->
        <!--                                    </div>-->
        <!--                                </li>-->
        <!--                            </ul>-->
        <!--                            <div class="action-btn flex-end">-->
        <!--                                <a href="#" class="border-button dfid-button sm-button">Delete</a>-->
        <!--                                <a href="#" class="dfid-button sm-button">Edit</a>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="program-footer flex-center">-->
        <!--                <a href="#">View details <i class="material-icons">expand_less</i></a>-->
        <!--            </div>-->
        <!--        </div>-->

        {% endfor %}
    </section>
</main>
{% endblock %}