{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> District</a>
            </li>
            <li><a href="/dashboard/district-add" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>New</a>
            </li>
        </ul>
    </div>
    <!-- dfid program table -->
    <div class="table-tesponsive program-list">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <table class="program-table dataTable">
            <thead>
            <tr>
                <th>Id</th>
                <th>province</th>
                <th>Name</th>
                <th>code</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for district in list %}
            <tr>
                <td>{{ district.id }}</td>
                <td>{{ district.province_id }}</td>
                <td>
                    <strong><a href="#">{{district.name}}</a></strong>
                </td>
                <td>{{ district.code }}</td>

                <td>
                    <div class="table-action">
                        <a href="#" class="more-action">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-animation">
                            <li>
                                    <a href="/dashboard/district-edit/{{ district.id }}" class="flex-start">
                                    <i class="material-icons">edit</i> Edit
                                </a>
                            </li>
                            <li>
                                <a href="/dashboard/district-delete/{{ district.id }}" class="flex-start">
                                    <i class="material-icons">delete</i>Delete
                                </a>

                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</main>
{% endblock %}