{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.ck-editor__editable_inline {
    min-height: 200px;
}

</style>

<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="/dashboard/faq-list/"><i class="material-icons">assignment</i>FAQ</a>
            </li>
            <li>Edit</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="POST">
        {% csrf_token %}

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        <div class="default-form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group ">
                        <label for="id_end_date" class="">Question</label>
                        <textarea id="editor" name="question"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group ">
                        <label class="">Answer</label>
                        <textarea id="editor1" name="answer"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group ">
                        <label class="">Order</label>
                        <input type="number" name="order" required>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group mrt-100" style="margin-top:50px;">
            <button id='final_save' type="submit" class="dfid-button sm-button">Save</button>
        </div>

    </form>
</main>

{% endblock %}
{% block script %}
<script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
<script>
    var i;
    list = ['#editor','#editor1']
    for (i = 0; i < list.length; i++) {
    ClassicEditor
            .create( document.querySelector(list[i] ) )
            .then( editor => {
                    console.log( editor );
            } )
            .catch( error => {
                    console.error( error );
            } );
            };

</script>
{% endblock %}



