{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="/dashboard/five-list/"><i class="material-icons">assignment</i> Five W</a>
            </li>
            <li>New</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="POST">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        <div class="default-form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_partner_id">Select Partner</label>
                        <select name="partner_id" id="id_partner_id" class="custom-select">
                            {% for partner in partners %}

                            <option value="{{partner.id}}">{{partner.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_program_id">Select Program</label>
                        <select name="program_id" id="id_program_id" class="custom-select">
                            {% for program in programs %}

                            <option value="{{program.id}}">{{program.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_project_id">Select Project</label>
                        <select name="project_id" id="id_project_id" class="custom-select">
                            {% for project in projects %}
                            <option value="{{project.id}}">{{project.name}}</option>
                            {% endfor %}

                        </select>
                    </div>

                </div>


            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_province_id">Select Province</label>
                        <select name="province_id" id="id_province_id" class="custom-select">
                            <option value="-1">All Provinces</option>
                            {% for province in provinces %}
                            <option value="{{province.id}}">{{province.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_district_id">Select District</label>
                        <select name="district_id" id="id_district_id" class="custom-select">
                            <option value="-1">All Districts</option>
                            {% for district in districts %}
                            <option value="{{district.id}}">{{district.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_municipality_id">Select Municipality</label>
                        <select name="municipality_id" id="id_municipality_id" class="custom-select">
                            <option value="-1">All Municipalities</option>
                            {% for mun in municipalities %}
                            <option value="{{mun.id}}">{{mun.name}}</option>
                            {% endfor %}

                        </select>
                    </div>

                </div>

            </div>


            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_consortium_partner_first_id">Select Consortium partner first</label>
                        <select name="consortium_partner_first_id" id="id_consortium_partner_first_id"
                                class="custom-select">
                            {% for partner in partners %}

                            <option value="{{partner.id}}">{{partner.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_consortium_partner_second_id">Select Consortium partner second</label>
                        <select name="consortium_partner_second_id" id="id_consortium_partner_second_id"
                                class="custom-select">
                            {% for partner in partners %}

                            <option value="{{partner.id}}">{{partner.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_consortium_partner_third_id">Select Consortium partner third</label>
                        <select name="consortium_partner_third_id" id="id_consortium_partner_third_id"
                                class="custom-select">
                            {% for partner in partners %}

                            <option value="{{partner.id}}">{{partner.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

            </div>


            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="id_implementing_partner_first_id">Select Implementing partner first</label>
                        <select name="implementing_partner_first_id" id="id_implementing_partner_first_id"
                                class="custom-select">
                            {% for partner in partners %}

                            <option value="{{partner.id}}">{{partner.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="id_implementing_partner_second_id">Select Implementing partner second</label>
                        <select name="implementing_partner_second_id" id="id_implementing_partner_second_id"
                                class="custom-select">
                            {% for partner in partners %}

                            <option value="{{partner.id}}">{{partner.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="id_implementing_partner_third_id">Select Implementing partner third</label>
                        <select name="implementing_partner_third_id" id="id_implementing_partner_third_id"
                                class="custom-select">
                            {% for partner in partners %}

                            <option value="{{partner.id}}">{{partner.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="id_implementing_partner_fourth_id">Select Implementing partner fourth</label>
                        <select name="implementing_partner_fourth_id" id="id_implementing_partner_fourth_id"
                                class="custom-select">
                            {% for partner in partners %}

                            <option value="{{partner.id}}">{{partner.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

            </div>


            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_local_partner_first_id">Select Local partner first</label>
                        <select name="local_partner_first_id" id="id_local_partner_first_id" class="custom-select">
                            {% for partner in partners %}

                            <option value="{{partner.id}}">{{partner.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_local_partner_second_id">Select Local partner second</label>
                        <select name="local_partner_second_id" id="id_local_partner_second_id" class="custom-select">
                            {% for partner in partners %}

                            <option value="{{partner.id}}">{{partner.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_local_partner_third_id">Select Local partner third</label>
                        <select name="local_partner_third_id" id="id_local_partner_third_id" class="custom-select">
                            {% for partner in partners %}

                            <option value="{{partner.id}}">{{partner.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

            </div>

            <div class="row">

<!--                <div class="col-md-4">-->
<!--                    <div class="form-group">-->
<!--                        <label for="id_representative_person">Select contact representative</label>-->
<!--                        <select name="representative_person" id="id_representative_person" class="custom-select">-->
<!--                            {% for contact in contacts %}-->

<!--                            <option value="{{ contact.id }}">{{ contact.name }}</option>-->

<!--                            {% endfor %}-->


<!--                        </select>-->
<!--                    </div>-->

<!--                </div>-->

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_status">Select status</label>
                        <select name="status" id="id_status" class="custom-select">

                            <option value="ongoing">Ongoing</option>
                            <option value="completed">Completed</option>


                        </select>
                    </div>

                </div>

            </div>


            <div class="row">

                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_start_date" class="">Start Date</label>
                        <input type="text" class="form-control" name="start_date" maxlength="100" id="id_start_date"
                               placeholder="2019-11-20"/>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_end_date" class="">End Date</label>
                        <input type="text" class="form-control" name="end_date" maxlength="100" id="id_end_date"
                               placeholder="2019-11-20"/>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_ward" class="">Ward</label>
                        <input type="text" class="form-control" name="ward" maxlength="200" id="id_ward"
                               placeholder="1"/>

                    </div>
                </div>

            </div>


            <div class="row">
<!--                <div class="col-md-4">-->
<!--                    <div class="form-group">-->
<!--                        <label for="id_budget_of">Budget Of</label>-->
<!--                        <select name="budget_of" id="id_budget_of" class="custom-select">-->

<!--                            <option value="national" selected>National</option>-->
<!--                            <option value="province">Province</option>-->
<!--                            <option value="district">District</option>-->
<!--                            <option value="municipality">Municipality</option>-->


<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_contract_value" class="">Contract Value/label>
                        <input class="form-control" type="number" name="contract_value" step="any"
                               id="id_contract_value"
                               placeholder="3000"/>

                    </div>
                </div>

<!--                <div class="col-md-4">-->
<!--                    <div class="form-group ">-->
<!--                        <label for="id_spend_budget" class="">Budget Spend</label>-->
<!--                        <input class="form-control" type="number" name="spend_budget" step="any" id="id_spend_budget"-->
<!--                               placeholder="20000"/>-->

<!--                    </div>-->
<!--                </div>-->


            </div>

<!--            <div class="row">-->

<!--                <div class="col-md-4">-->
<!--                    <div class="form-group ">-->
<!--                        <label for="id_reporting_ministry_line" class="">Reporting ministry line</label>-->
<!--                        <input type="text" class="form-control" name="reporting_ministry_line" maxlength="100"-->
<!--                               id="id_reporting_ministry_line"-->
<!--                               placeholder="Name"/>-->

<!--                    </div>-->
<!--                </div>-->



<!--            </div>-->


            <div class="form-group mrt-100">
                <button type="submit" class="dfid-button sm-button">Save</button>
            </div>

        </div>


        <!-- category form -->


    </form>
</main>

{% endblock %}

