{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> Five W</a>
            </li>
            {% if perms.core.add_fivew %}
            <li><a href="/dashboard/five-add" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>New</a>
            </li>
            {% endif %}
            {% if perms.core.add_fivew %}
            <li style="padding-left:10px"><a href="/dashboard/bulk-upload" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>Bulk Upload</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- dfid program table -->
    <div class="table-tesponsive program-list">
        {% if messages %}
        {% for messages in messages %}
        {% if messages.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong></strong> {{messages}} <a href="http://localhost:8020/media/errordata.csv">View Error</a>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong></strong> {{messages}}
        </div>
        {% endif %}

        {% endfor %}
        {% endif %}


        {% if messages %}
        <ul class="messages">
            {% for message in messages %}

            {% endfor %}
    </ul>
{% endif %}
        <table class="five-table dataTable">
            <thead>
            <tr>
                <th>id</th>
                <th>Supplier</th>
                <th>Program</th>
                <th>Component</th>
                <th>second Tier Partner</th>
                <th>Province</th>
                <th>District</th>
                <th>Municipality</th>
                <th>Allocated Budget </th>
                <th>status</th>



                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for five in list %}
            <tr>
                <td>{{ five.id }}</td>
                <td>{{ five.supplier_id__name }}</td>
                <td>{{ five.program_id__name }}</td>
                <td>{{ five.component_id__name }}</td>
                <td>{{ five.second_tier_partner_name }}</td>
                <td>{{ five.province_id__name }}</td>
                <td>
                    {{ five.district_id__name }}
                </td>
                <td>{{ five.municipality_id__name }}</td>
                <td>{{ five.allocated_budget }}</td>
                <td>{{ five.status }}</td>



                <td>
                    <div class="table-action">
                        <a href="#" class="more-action">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-animation">
                            {% if perms.core.change_fivew %}
                            <li>
                                <a href="/dashboard/five-edit/{{ five.id }}" class="flex-start">
                                    <i class="material-icons">edit</i> Edit
                                </a>
                            </li>
                            {% endif %}
                            {% if perms.core.delete_fivew %}
                            <li>
                                <a href="/dashboard/five-delete/{{ five.id }}" class="flex-start">
                                    <i class="material-icons">delete</i>Delete
                                </a>

                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>




        <div class="pagination">
                    <div class="paging-left">
                        <div class="page-item">
                            <p>Showing <span class="show-start">1</span>to<span class="show-end">100</span>of<span class="total-entries"></span>{{ page_obj.paginator.num_pages }}</p>
                        </div>

                    </div>
                    <div class="paging-right">
                        {% if page_obj.has_previous %}
                        <div class="page-item pre-page">
                            <a href="?page={{ page_obj.previous_page_number }}" >previous page</a>
                        </div>
                        {% endif %}
                        <ul>
                            {% for page in page_range %}
                            <li {% if page == page_obj.number %} class="active" {% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endfor %}
                        </ul>
                        {% if page_obj.has_next %}
                        <div class="next-page page-item">
                            <a href="?page={{ page_obj.next_page_number }}">next page</a>
                        </div>
                        {% endif %}
                    </div>
                </div>




    </div>
</main>
{% endblock %}