{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> Five W</a>
            </li>
            {% if perms.core.add_fivew %}
            <li><a href="/dashboard/five-add" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>New</a>
            </li>
            {% endif %}
            {% if perms.core.add_fivew %}
            <li><a href="/dashboard/five-add" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>Bulk Upload</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- dfid program table -->
    <div class="table-tesponsive program-list">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <table class="program-table dataTable">
            <thead>
            <tr>
                <th>Partner</th>
                <th>Program</th>
                <th>Project</th>
                <th>Province</th>
                <th>Disrict</th>
                <th>Municipality</th>
                <th>Ward</th>
                <th>Consortium partner first</th>
                <th>Consortium partner second</th>
                <th>Consortium partner third</th>
                <th>implementing partner first</th>
                <th>implementing partner second</th>
                <th>implementing partner third</th>
                <th>implementing partner fourth</th>
                <th>local partner first</th>
                <th>local partner second</th>
                <th>local partner third</th>
                <th>status</th>
                <th>Start date</th>
                <th>end data</th>
<!--                <th>reporting ministry line</th>-->
<!--                <th>budget of</th>-->
                <th>contract value</th>
<!--                <th>spend budget</th>-->
<!--                <th>representative name</th>-->

                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for five in list %}
            <tr>
                <td>{{ five.partner_id }}</td>
                <td>{{ five.program_id }}</td>
                <td>{{ five.project_id }}</td>
                <td>{{ five.province_id }}</td>
                <td>
                    {{ five.district_id }}
                </td>
                <td>{{ five.municipality_id }}</td>
                <td>{{ five.ward }}</td>
                <td>{{ five.consortium_partner_first_id }}</td>
                <td>{{ five.consortium_partner_second_id }}</td>
                <td>{{ five.consortium_partner_third_id }}</td>
                <td>{{ five.implementing_partner_first_id }}</td>
                <td>{{ five.implementing_partner_second_id }}</td>
                <td>{{ five.implementing_partner_third_id }}</td>
                <td>{{ five.implementing_partner_fourth_id }}</td>
                <td>{{ five.local_partner_first_id }}</td>
                <td>{{ five.local_partner_second_id }}</td>
                <td>{{ five.local_partner_third_id }}</td>
                <td>{{ five.status }}</td>
                <td>{{ five.start_date }}</td>
                <td>{{ five.end_date }}</td>
<!--                <td>{{ five.reporting_ministry_line }}</td>-->
<!--                <td>{{ five.budget_of }}</td>-->
                <td>{{ five.contract_value }}</td>
<!--                <td>{{ five.spend_budget }}</td>-->
<!--                <td>{{ five.representative_person }}</td>-->

                <td>
                    <div class="table-action">
                        <a href="#" class="more-action">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-animation">
                            {% if perms.core.change_fivew %}
                            <li>
                                <a href="/dashboard/five-edit/{{ five.id }}" class="flex-start">
                                    <i class="material-icons">edit</i> Edit
                                </a>
                            </li>
                            {% endif %}
                            {% if perms.core.delete_fivew %}
                            <li>
                                <a href="/dashboard/five-delete/{{ five.id }}" class="flex-start">
                                    <i class="material-icons">delete</i>Delete
                                </a>

                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</main>
{% endblock %}