{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->

<main class="dfid-main">
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="/dashboard/five-list/"><i class="material-icons">assignment</i> Five W</a>
            </li>
            <li>New</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form fiveW-form" method="POST">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <!-- category form -->
        <div class="collapse-section">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0 btn-heading">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                Core Data Section
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="row-wrapper">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group">
                                            <label for="id_supplier_id">Select Supplier</label>
                                            <select name="supplier_id" id="id_supplier_id" class="custom-select">
                                                {% for partner in partners %}

                                                <option value="{{partner.id}}">{{partner.name}}</option>


                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group">
                                            <label for="id_program_id">Select Program</label>
                                            <select name="program_id" id="id_program_id" class="custom-select">
                                                {% for program in programs %}

                                                <option value="{{program.id}}">{{program.name}}</option>


                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group">
                                            <label for="id_component_id">Select Component</label>
                                            <select name="component_id" id="id_component_id" class="custom-select">
                                                {% for project in projects %}

                                                <option value="{{project.id}}">{{project.name}}</option>


                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="col-md-6">-->
<!--                                    <div class="col-wrapper">-->
<!--                                        <div class="form-group form-flex">-->
<!--                                            <label for="id_project_title">Enter Project Title</label>-->
<!--                                            <input type="text" name="project_title" maxlength="500"-->
<!--                                                   id="id_project_title" class="form-control"-->
<!--                                                   placeholder="Enter Project Title">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingtwo">
                        <h2 class="mb-0 btn-heading">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsetwo"
                                    aria-expanded="false" aria-controls="collapseOne">
                                Second Tier partner and Contract Budget Section
                            </button>
                        </h2>
                    </div>

                    <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordionExample">
                        <div class="row-wrapper">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group ">
                                            <label for="id_second_tier_partner">Second Tier Partner</label>
                                            <select name="second_tier_partner" id="id_second_tier_partner"
                                                    class="custom-select">
                                                {% for partner in all_partner %}

                                                <option value="{{partner.id}}">{{partner.name}}</option>


                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="row">-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="col-wrapper">-->
<!--                                        <div class="title">-->
<!--                                                        <span>Do you want to enter the overall budget for the partner ? If yes (YES / NO TOGGLE)-->
<!--                                                        </span>-->
<!--                                            <label class="switch">-->
<!--                                                <input type="checkbox" id="checkbox_id">-->
<!--                                                <span class="slider round"></span>-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                        <div class="form-group form-flex" id="second_tier" style="display:none">-->
<!--                                            <label for="id_contract_value" class="Sum">Enter Contract Value</label>-->
<!--                                            <input type="number" name="contract_value" step="any"-->
<!--                                                   id="id_contract_value" value="0" class=" form-control"-->
<!--                                                   placeholder="Enter Project Title">-->



<!--                                        </div>-->
<!--                                        <input type="number" name="contract_value_id" step="any"-->
<!--                                                   id="id_contract_value_id" value="0" class=" form-control" hidden>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingthree">
                        <h2 class="mb-0 btn-heading">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapsethree" aria-expanded="false" aria-controls="collapseOne">
                                Geography and budget Section
                            </button>
                        </h2>
                    </div>

                    <div id="collapsethree" class="collapse" aria-labelledby="headingthree"
                         data-parent="#accordionExample">
                        <div class="row-wrapper">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group">
                                            <label for="id_province_id">Select Province</label>
                                            <select name="province_id" id="id_province_id" class="custom-select">
                                                {% for province in provinces %}

                                                <option value="{{province.id}}">{{province.name}}</option>


                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group">
                                            <label for="id_district_id">Select District</label>
                                            <select name="district_id" id="id_district_id" class="custom-select">
                                                {% for district in districts %}

                                                <option value="{{district.id}}">{{district.name}}</option>


                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group">
                                            <label for="id_municipality_id">Select Municipality</label>
                                            <select name="municipality_id" id="id_municipality_id"
                                                    class="custom-select">
                                                {% for mun in municipalities %}

                                                <option value="{{mun.id}}">{{mun.name}}</option>


                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group form-flex">
                                            <label for="id_allocated_budget">Enter Allocated Budget</label>
                                            <input type="number" name="allocated_budget" value="0" step="any"
                                                   id="id_allocated_budget" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>

<!--                            <div class="row">-->

<!--                                <div class="col-md-6">-->
<!--                                    <div class="form-group ">-->
<!--                                        <label for="id_male_beneficiary" class="">Male Beneficiary</label>-->
<!--                                        <input type="number" name="male_beneficiary" value="0" id="id_male_beneficiary"-->
<!--                                               class="form-control"-->
<!--                                               placeholder=""/>-->

<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-md-6">-->
<!--                                    <div class="form-group ">-->
<!--                                        <label for="id_female_beneficiary" class="">Female Beneficiary</label>-->
<!--                                        <input type="number" name="female_beneficiary" value="0" class="form-control"-->
<!--                                               id="id_female_beneficiary"-->
<!--                                               placeholder=""/>-->

<!--                                    </div>-->
<!--                                </div>-->


<!--                            </div>-->


<!--                            <div class="row">-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="col-wrapper">-->
<!--                                        <div class="form-group form-flex">-->
<!--                                            <label for="id_total_beneficiary">Total Beneficiary</label>-->
<!--                                            <input type="number" name="total_beneficiary" value="0"-->
<!--                                                   id="id_total_beneficiary" class="form-control"-->
<!--                                                   placeholder="  ">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="col-wrapper">-->
<!--                                        <div class="form-group form-flex">-->
<!--                                            <label for="id_ward" class="">Ward</label>-->
<!--                                            <input type="text" class="form-control" name="ward" maxlength="200"-->
<!--                                                   id="id_ward"-->
<!--                                                   placeholder="1"/>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="row">
<!--                                <div class="col-md-6">-->
<!--                                    <div class="col-wrapper">-->
<!--                                        <div class="form-group form-flex">-->
<!--                                            <label for="id_local_partner">Local Partners</label>-->
<!--                                            <input type="text" name="local_partner" maxlength="500"-->
<!--                                                   id="id_local_partner" class="form-control" placeholder="">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_status">Select status</label>
                                        <select name="status" id="id_status" class="custom-select">

                                            <option value="ongoing">Ongoing</option>
                                            <option value="completed">Completed</option>


                                        </select>
                                    </div>

                                </div>
                            </div>

<!--                            <div class="row">-->

<!--                                <div class="col-md-6">-->
<!--                                    <div class="form-group ">-->
<!--                                        <label for="id_start_date" class="">Start Date</label>-->
<!--                                        <div class="input-group date" data-provide="datepicker">-->
<!--                                            <input type="text" class="form-control" name="start_date" maxlength="100"-->
<!--                                                   id="id_start_date"-->
<!--                                                   placeholder="2019-11-20"/>-->
<!--                                        </div>-->

<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-md-6">-->
<!--                                    <div class="form-group ">-->
<!--                                        <label for="id_end_date" class="">End Date</label>-->
<!--                                        <div class="input-group date" data-provide="datepicker">-->
<!--                                            <input type="text" class="form-control" name="end_date" maxlength="100"-->
<!--                                                   id="id_end_date"-->
<!--                                                   placeholder="2019-11-20"/>-->

<!--                                        </div>-->

<!--                                    </div>-->
<!--                                </div>-->


<!--                            </div>-->


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0 btn-heading">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                Extra Information
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                         data-parent="#accordionExample">
                        <div class="row-wrapper">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group form-flex">
                                            <label for="id_allocated_budget">Reporting Line Ministry</label>
                                            <input type="text" name="reporting_line_ministry" step="any"
                                                   id="" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group form-flex">
                                            <label for="id_allocated_budget">Contact Name</label>
                                            <input type="text" name="contact_name"  step="any"
                                                   id="" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group form-flex">
                                            <label for="id_allocated_budget">Designation</label>
                                            <input type="text" name="designation" step="any"
                                                   id="" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group form-flex">
                                            <label for="id_allocated_budget">Contact NO.</label>
                                            <input type="text" name="contact_number"  step="any"
                                                   id="" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group form-flex">
                                            <label for="id_allocated_budget">Email</label>
                                            <input type="email" name="email" step="any"
                                                   id="" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-wrapper">
                                        <div class="form-group form-flex">
                                            <label for="id_allocated_budget">Remarks</label>
                                            <input type="text" name="remarks"  step="any"
                                                   id="" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>

        <div class="form-group mrt-100">
            <button type="submit" class="dfid-button sm-button">Save</button>
        </div>

        </div>

    </form>
</main>

{% endblock %}