{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> Gis Layer Style Update</a>
            </li>
            <li>Edit</li>
        </ul>
    </div>

    <!--    <div class="alert alert-info">-->
    <!--&lt;!&ndash;  <strong>Important Note !</strong> Vector and Raster folder should be in commpressed form (zip) before uploading and all filenames inside zip folder should not have spaces ( example_shapefile.shp , example_raster.tif ).&ndash;&gt;-->
    <!--</div>-->

    <!-- program form -->
    <form enctype="multipart/form-data" class="program-form" method="POST">


        {% csrf_token %}

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <!--        {{form.as_p}}-->


        <div class="default-form">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group ">
                        <label for="id_circle_color">Circle Color</label>
                        <input type="color" class="form-control" id="id_circle_color" name="circle_color"
                               value="{{form.instance.circle_color}}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group ">
                        <label for="id_fill_color">Fill color</label>
                        <input type="color" class="form-control" id="id_fill_color" name="fill_color"
                               value="{{ form.instance.fill_color}}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group ">
                        <label for="id_circle_radius">Circle Radius</label>
                        <input type="number" class="form-control" id="id_circle_radius" name="circle_radius"
                               value="{{ form.instance.circle_radius}}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="col-wrapper">
                        <div class="form-group">
                            <label for="id_layer">Select Component</label>
                            <select name="layer" id="id_layer" class="custom-select">

                                <option value="{{form.instance.layer.id}}" selected>{{form.instance.layer.name}}
                                </option>
                                {% for layer in layers %}

                                <option value="{{layer.id}}">{{layer.name}}</option>


                                {% endfor %}

                            </select>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="form-group mrt-100">
            <button type="submit" class="dfid-button sm-button">Save</button>
        </div>


        <!-- category form -->


    </form>
</main>

{% endblock %}

