{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> Gis Layer Style</a>
            </li>
            {% if perms.core.add_gislayer %}
            <li><a href="/dashboard/gis_style_layer_add/{{id}}" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>New</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- dfid program table -->
    <div class="table-tesponsive program-list">
         {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <table class="program-table dataTable">
            <thead>
            <tr>
                <th>Sn</th>
                <th>Layer</th>
                <th> Color</th>
                <th>Fill Color</th>
                <th>Circle Radius</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for style in list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <strong><a href="#">{{style.layer.name}}</a></strong>
                </td>
                <td>{{ style.circle_color }}</td>
                <td>{{ style.fill_color }}</td>
                <td>{{ style.circle_radius }}</td>

                <td>
                    <div class="table-action">
                        <a href="#" class="more-action">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-animation">
                            {% if perms.core.change_gislayer %}
                            <li>
                                <a href="/dashboard/gis_style_layer_edit/{{ style.id }}" class="flex-start">
                                    <i class="material-icons">edit</i>Edit
                                </a>
                            </li>
                            {% endif %}
<!--                            {% if perms.core.change_gislayer %}-->
<!--                            <li>-->
<!--                                <a href="/dashboard/gis-replace/{{ gis.id }}" class="flex-start">-->
<!--                                    <i class="material-icons">refresh</i>-->
<!--                                </a>-->

<!--                            </li>-->
<!--                            {% endif %}-->
                            {% if perms.core.delete_gislayer %}
                            <li>
                                <a href="/dashboard/gis-delete/{{ gis.id }}" class="flex-start">
                                    <i class="material-icons">delete</i>Delete
                                </a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</main>
{% endblock %}