{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> Gis Layer</a>
            </li>
            <li>New</li>
        </ul>
    </div>
    <!-- program form -->
    <form enctype="multipart/form-data" class="program-form" method="POST">


        {% csrf_token %}

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        <div class="default-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_name" class="">Name</label>
                        <input type="text" class="form-control" name="name" maxlength="100" id="id_name"
                               placeholder="Name"/>
<!--                        <span class="error-message"><i class="material-icons error-icon">error_outline</i>-->
<!--                                        Please ennter name</span>-->
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_description" class="">Description</label>
                        <textarea type="text" class="form-control" name="description" cols="40" rows="10"
                                  id="id_description" placeholder="description"
                                  rows="5"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>

                        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_type">Select Type</label>
                        <select name="type" id="id_type" class="custom-select">
                            <option value="" selected>----Select Type----</option>


                            <option value="vector">Vector</option>
                            <option value="raster">Raster</option>





                        </select>
                    </div>

                </div>


            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group ">
                        <label for="id_category" class="">Category</label>
                        <input type="text" class="form-control" name="category" maxlength="100" id="id_category"
                               placeholder="Category"/>
                    </div>
                </div>
                <div class="col-md-5">

                    <div class="form-group ">
                        <label for="id_filename" class="">Filename</label>
                        <input type="text" class="form-control" name="filename" maxlength="100" id="id_filename"
                               id="id_contact_person_name"
                               placeholder="Name"/>
                    </div>

                    <div class="col-md-3">

                    </div>
                </div>
            </div>





        <div class="row">
            <div class="col-md-5">
                <div class="form-group ">
                    <label for="vector" class="">Shape File</label>
                    <input  type="file" name="shapefile" id="vector"/>
                </div>
            </div>





        </div>

        <div class="form-group mrt-100">
            <button type="submit" class="dfid-button sm-button">Save</button>
        </div>



        <!-- category form -->


    </form>
</main>

{% endblock %}

