{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> Indicator Values</a>
            </li>
<!--            <li><a href="program-form.html" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>New</a>-->
<!--            </li>-->
        </ul>
    </div>
    <!-- dfid program table -->
    <div class="table-tesponsive program-list">
        <table class="program-table dataTable">
            <thead>
            <tr>
                <th>Indicator</th>
                <th>Palika</th>
                <th>Value</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for data in list %}
            <tr>
                <td>
                    <strong><a href="#">{{data.indicator_id}}</a></strong>
                </td>
                <td>{{data.gapanapa_id}}</td>

                <td><span class="budget">{{data.value}}</span></td>
                <td>
                    <div class="table-action">
                        <a href="#" class="more-action">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-animation">
                            <li>
                                <a href="#" class="flex-start">
                                    <i class="material-icons">edit</i> Edit
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex-start">
                                    <i class="material-icons">Delete</i>delete
                                </a>

                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
          {% endfor %}

            </tbody>
        </table>
    </div>
</main>
{% endblock %}