{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> Indicators</a>
            </li>
            {% if perms.core.add_indicator %}
            <li><a href="/dashboard/indicator-add" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>New</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- dfid program table -->
    <div class="table-tesponsive program-list">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <table class="program-table dataTable">
            <thead>
            <tr>
                <th>Indicator</th>
                <th>Full Title</th>
                <th>Abstract</th>
                <th>Category</th>
                <th>Source</th>
                <th>Federal Level</th>
                <th>unit</th>
                <th>Data Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for indicator in list %}

            <tr>
                <td>
                    <strong><a href="/dashboard/indicator-data/?id={{ indicator.id }}">{{indicator.indicator}}</a></strong>
                </td>
                <td>{{indicator.full_title}}</td>
                <td>
                    {{ indicator.abstract|truncatewords:10 }}
                </td>
                <td>
                   {{ indicator.category }}
                </td>
                <td>{% if indicator.source == 'nan' %} {% else %} {{ indicator.source }} {% endif %}</td>
                <td>{{ indicator.federal_level }}</td>
                <td>{{ indicator.unit }}</td>
                <td>{{ indicator.data_type }}</td>

                <td>
                    <div class="table-action">
                        <a href="#" class="more-action">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-animation">
                            {% if perms.core.change_indicator %}
                            <li>
                                <a href="/dashboard/indicator-edit/{{ indicator.id }}" class="flex-start">
                                    <i class="material-icons">edit</i> Edit
                                </a>
                            </li>
                            {% endif %}
                            {% if perms.core.delete_indicator %}
                            <li>
                                <a href="/dashboard/indicator-delete/{{ indicator.id }}" class="flex-start">
                                    <i class="material-icons">delete</i>Delete
                                </a>

                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
</main>
{% endblock %}