{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> Output</a>
            </li>
            <li><a href="/dashboard/output-add" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>New</a>
            </li>
        </ul>
    </div>
    <!-- dfid program table -->
    <div class="table-tesponsive program-list">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{message}}
        </div>
        {% endfor %}
        {% endif %}

        <table class="program-table dataTable table-border">
            <thead>
            <tr>
                <!-- <th>SNo.</th> -->
<!--                <th rowspan="3">Sector</th>-->
                <th rowspan="3" style="width:300px;">Indicator</th>
                <th colspan="8">2011 - 2015</th>
                <th colspan="8">2015 - 2019</th>
                <th colspan="8">2011 - 2019</th>
                <th rowspan="3">Action</th>
            </tr>

            <tr>
                <th colspan="4">Forecast</th>
                <th colspan="4">Achieved</th>
                <th colspan="4">Forecast</th>
                <th colspan="4">Achieved</th>
                <th colspan="4">Forecast</th>
                <th colspan="4">Achieved</th>
            </tr>

            <tr>
                <th>Male</th>
                <th>Female</th>
                <th>Disability</th>
                <th>Total</th>
                <th>Male</th>
                <th>Female</th>
                <th>Disability</th>
                <th>Total</th>
                <th>Male</th>
                <th>Female</th>
                <th>Disability</th>
                <th>Total</th>
                <th>Male</th>
                <th>Female</th>
                <th>Disability</th>
                <th>Total</th>
                <th>Male</th>
                <th>Female</th>
                <th>Disability</th>
                <th>Total</th>
                <th>Male</th>
                <th>Female</th>
                <th>Disability</th>
                <th>Total</th>
            </tr>
            </thead>

            <tbody>
            <!-- data1 -->

           {% for output in list %}
            <tr>
<!--                <td>{{ output.sector }}</td>-->
                <td>{{output.indicator}}</td>
                <td>{{output.male_forecast_2011_2015}}</td>
                <td>{{output.female_forecast_2011_2015}}</td>
                <td>{{output.disability_forecast_2011_2015}}</td>
                <td>{{output.total_forecast_2011_2015}}</td>
                <td>{{output.male_achieved_2011_2015}}</td>
                <td>{{output.female_achieved_2011_2015}}</td>
                <td>{{output.disability_achieved_2011_2015}}</td>
                <td>{{output.total_achieved_2011_2015}}</td>
                <td>{{output.male_forecast_2015_2019}}</td>
                <td>{{output.female_forecast_2015_2019}}</td>
                <td>{{output.disability_forecast_2015_2019}}</td>
                <td>{{output.total_forecast_2015_2019}}</td>
                <td>{{output.male_achieved_2015_2019}}</td>
                <td>{{output.female_achieved_2015_2019}}</td>
                <td>{{output.disability_achieved_2015_2019}}</td>
                <td>{{output.total_achieved_2015_2019}}</td>
                <td>{{output.male_forecast_2011_2019}}</td>
                <td>{{output.female_forecast_2011_2019}}</td>
                <td>{{output.disability_forecast_2011_2019}}</td>
                <td>{{output.total_forecast_2011_2019}}</td>
                <td>{{output.male_achieved_2011_2019}}</td>
                <td>{{output.female_achieved_2011_2019}}</td>
                <td>{{output.disability_achieved_2011_2019}}</td>
                <td>{{output.total_achieved_2011_2019}}</td>
                <td>
                    <a href="/dashboard/output-edit/{{output.id}}" class="edit">
                        <i class="material-icons">edit</i>
                    </a>
<!--                    <a href="#" class="edit">-->
<!--                        <i class="material-icons">delete</i>-->
<!--                    </a>-->
                </td>
            </tr>
    {% endfor %}


            </tbody>
        </table>
    </div>
</main>
{% endblock %}