{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> District</a>
            </li>
            <li>New</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="POST">

        {% csrf_token %}

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        <div class="default-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_province_id">Select Province</label>
                        <select name="province_id" id="id_province_id" class="custom-select" required>
                            <option value="" selected disabled>----Select Province----</option>
                            {% for i in province %}

                            <option value="{{i.id}}">{{i.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_district_id">Select District</label>
                        <select name="district_id" id="id_district_id" class="custom-select" required>
                            <option value="" selected disabled>----Select District----</option>
                            {% for i in district %}

                            <option value="{{i.id}}" valId='{{i.province_id__id}}'>{{i.name}}</option>


                            {% endfor %}

                        </select>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_name" class="">Name</label>
                        <input type="text" class="form-control" name="name" maxlength="100" id="id_name"
                               placeholder="Name" required/>
                        <!--                        <span class="error-message"><i class="material-icons error-icon">error_outline</i>-->
                        <!--                                        Please ennter name</span>-->
                    </div>
                </div>


            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_gn_type_np">Palika Type(np)</label>
                        <select name="gn_type_np" id="id_gn_type_np" class="custom-select" required>

                            <option value="Development area">Development area</option>

                            <option value="Gaunpalika" selected>Gaunpalika</option>

                            <option value="Hunting reserve">Hunting reserve</option>

                            <option value="Nagarpalika">Nagarpalika</option>

                            <option value="Mahanagarpalika">Mahanagarpalika</option>

                            <option value="Upamahanagarpalika">Upamahanagarpalika</option>

                            <option value="Wildlife reserve">Wildlife reserve</option>

                            <option value="Watershed and wildlife reserve">Watershed and wildlife reserve</option>

                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_gn_type_en">Palika Type(en)</label>
                        <select name="gn_type_en" id="id_gn_type_en" class="custom-select" required>
                            <option value="Rural municipality" selected>Rural municipality</option>

                            <option value="Urban municipality">Urban municipality</option>

                            <option value="Designated area">Designated area</option>

                            <option value="Sub metropolitan">Sub metropolitan</option>

                            <option value="Metropolitan">Metropolitan</option>

                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_geography">Geography</label>
                        <select name="geography" id="id_geography" class="custom-select" required>
                            <option value="Terai" selected>Terai</option>

                            <option value="Hill">Hill</option>

                            <option value="Shivalik">Shivalik</option>

                            <option value="Mountain">Mountain</option>

                            <option value="High Mountain">High Mountain</option>

                        </select>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_population" class="">Population</label>
                        <input type="text" class="form-control" name="population" step="any" id="id_population"
                               placeholder="1133434" required/>
                        <!--                        <span class="error-message"><i class="material-icons error-icon">error_outline</i>-->
                        <!--                                        Please ennter name</span>-->
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_cbs_code" class="">Cbs Code</label>
                        <input type="text" class="form-control" name="cbs_code" maxlength="100"
                               id="id_cbs_code"
                               placeholder="123" required/>
                        <!--                        <span class="error-message"><i class="material-icons error-icon">error_outline</i>-->
                        <!--                                        Please ennter name</span>-->
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_hlcit_code" class="">Hlcit Code</label>
                        <input type="text" class="form-control" name="hlcit_code" maxlength="100"
                               id="id_hlcit_code"
                               placeholder="84349" required/>
                        <!--                        <span class="error-message"><i class="material-icons error-icon">error_outline</i>-->
                        <!--                                        Please ennter name</span>-->
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_p_code" class="">P Code</label>
                        <input type="text" class="form-control" name="p_code" maxlength="100" id="id_p_code"
                               placeholder="84349" required/>
                        <!--                        <span class="error-message"><i class="material-icons error-icon">error_outline</i>-->
                        <!--                                        Please ennter name</span>-->
                    </div>
                </div>


            </div>


            <div class="form-group mrt-100">
                <button type="submit" class="dfid-button sm-button">Save</button>
            </div>

        </div>


        <!-- category form -->


    </form>
</main>

{% endblock %}
{% block five_add %}
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        $('#id_province_id').change(function(e) {
            e.preventDefault();
            changefunction($(this).val(), '#id_district_id option')
        });
    });
</script>
{% endblock %}
