{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.core.view_partner %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> Partners</a>
            </li>
            {% if perms.core.add_partner %}
            <li><a href="/dashboard/partner-add/" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>New</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <!-- dfid program table -->
    <div class="table-tesponsive program-list">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <table class="program-table dataTable">
            <thead>

            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Type of institution</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>contact Person</th>
                <th>Description</th>

                <th></th>
            </tr>


            </thead>
            <tbody>

            {% for partner in list %}
            <tr>

                <td>


                    <a href="#" class="partner-info flex-start">
                        {% if partner.thumbnail %}
                        <img src="{{ partner.thumbnail.url }}" alt="org"/>
                        {% else %}
                        <img src="{% static 'dashboard/images/organization.svg' %}" alt="org"/>
                        {% endif %}
                        <h6>{{partner.name}}</h6>
                    </a>


                </td>

                <td>{{partner.code}}</td>
                <td>{{partner.type_of_institution}}</td>
                <td>{{partner.address}}</td>
                <td>{{partner.email}}</td>
                <td>
                    {{partner.phone_number}}
                </td>
                <td>
                    {% if  partner.PartnerContact.all.count < 1 %}
                    <a href="/dashboard/partner-contact-add/{{ partner.id }}"><button type="button" class="btn btn-outline-danger">Add</button></a>
                    {% else %}
                    <a href="/dashboard/partner-contact-list?id={{ partner.id }}"><button type="button" class="btn btn-outline-success">Manage</button></a>
                    {% endif %}


                </td>
                <td>{{partner.description}}</td>

                <td>
                    <div class="table-action">
                        <a href="#" class="more-action">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-animation">
                            {% if perms.core.change_partner %}
                            <li>
                                <a href="/dashboard/partner-edit/{{ partner.id }}" class="flex-start">
                                    <i class="material-icons">edit</i> Edit
                                </a>
                            </li>
                            {% endif %}
                            {% if perms.core.delete_partner %}
                            <li>
                                <a href="/dashboard/partner-delete/{{ partner.id }}" class="flex-start">
                                    <i class="material-icons">delete</i>Delete
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
</main>
{% else %}
<body class="">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                        <tr>
                                <td style="line-height:30px;font-size:0;" height="30">
                                   
                                </td>
                              </tr>
                  <tr>
                    <td style="font-size:0;" align="center">
                      <div style="display:inline-block;width:100%;max-width:800px;vertical-align:top;" class="width800">
                        <table class="display-width" style="max-width:800px; " width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                          <tbody>
                            <tr>
                              <td class="padding" align="center">
                                <div style="display:inline-block;width:100%;max-width:600px;vertical-align:top;font-family:'Montserrat', sans-serif; border: 1px solid #efefef;" class="main-width">
                                  <table class="display-width-inner" style="max-width:600px;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#efefef">
                                    <tbody>
                                      <tr>
                                        <td style="line-height:30px;font-size:0;" height="30">
                                           
                                        </td>
                                      </tr>
                                      <tr>
                                          <td style="text-align: center; padding: 40px 0; border-bottom: 1px solid #f9f9f9;">
                                            <a class="logo" href="" style="display: inline-block; margin: 0 auto; max-width:200px;">
                                                    <img src="https://logodix.com/logo/1989451.png" alt="" width="200px">
                                            </a>

                                          </td>
                                      </tr>
                                      <tr>
                                            <td style="line-height:30px;font-size:0;" height="30">
                                               
                                            </td>
                                          </tr>
                                          <tr>
                                              <td style="font-family: 'Montserrat', sans-serif ; text-align: center; padding: 1rem 2rem;">

                                                    <p style="font-size: .875rem; font-weight: 500; line-height: 1.5; letter-spacing:.25px;">
                                                       <strong style="font-size: 45px;">404 </strong>
                                                        <br>
                                                        <strong>Sorry ,You don't have permission to view this page.</strong>
                                                        <br>


                                                        <a href="/dashboard/main/" style="color: #05367D; text-decoration: none;">Go Back</a>
                                                    </p>
                                              </td>ne
                                          </tr>
                                    <tr>
                                            <td style="line-height:30px;font-size:0;" height="30">
                                               
                                            </td>
                                          </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </td>
</tr>
</tbody>
</table>


</body>
{% endif %}
{% endblock %}