{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> Partners</a>
            </li>
                        <li><a href="/dashboard/partner-add/" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>New</a>
                        </li>
        </ul>
    </div>

    <!-- dfid program table -->
    <div class="table-tesponsive program-list">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <table class="program-table dataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Contact Person</th>
                <th>Contact Person Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for partner in list %}
            <tr>

                <td>


                    <a href="#" class="partner-info flex-start">
                        {% if partner.image %}
                        <img src="{{ partner.image.url }}" alt="org"/>
                        {% else %}
                        <img src="{% static 'dashboard/images/organization.svg' %}" alt="org"/>
                        {% endif %}
                        <h6>{{partner.name}}</h6>
                    </a>


                </td>


                <td>{{partner.address}}</td>
                <td>{{partner.email}}</td>
                <td>
                    {{partner.phone_number}}
                </td>
                <td>
                    <a href="#" class="name">{{partner.contact_person_name}}</a>

                </td>
                <td>{{partner.contact_person_email}}</td>

                <td>
                    <div class="table-action">
                        <a href="#" class="more-action">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-animation">
                            <li>
                                <a href="/dashboard/partner-edit/{{ partner.id }}" class="flex-start">
                                    <i class="material-icons">edit</i> Edit
                                </a>
                            </li>
                            <li>
                                <a href="/dashboard/partner-delete/{{ partner.id }}" class="flex-start">
                                    <i class="material-icons">delete</i>Delete
                                </a>

                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
</main>
{% endblock %}