{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="/dashboard/program-list/"><i class="material-icons">assignment</i> program</a>
            </li>
            <li>New</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="POST">


        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        <div class="default-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_name" class="">program name</label>
                        <input type="text" class="form-control" name="name" maxlength="100" id="id_name"
                               placeholder="Name" required/>
                        <!--                        <span class="error-message"><i class="material-icons error-icon">error_outline</i>-->
                        <!--                                        Please ennter name</span>-->
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_description" class="">Description</label>
                        <textarea type="text" class="form-control" name="description" cols="40" rows="10"
                                  id="id_description" placeholder="Program description"
                                  rows="5"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_code" class="">Code</label>
                        <input type="text" class="form-control" name="code" maxlength="100" id="id_code"
                               placeholder="e.g. 108538" required/>
                    </div>
                </div>
                <!--                <div class="col-md-6">-->
                <!--                    <div class="form-group">-->
                <!--                        <label for="" class="">IATI Identifier</label>-->
                <!--                        <input type="text" class="form-control" placeholder="e.g. GB-1-204857-105"/>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_status">Status</label>
                        <select name="status" id="id_status" class="custom-select" required>
                            <option value="ongoing" selected>Ongoing</option>

                            <option value="completed">Completed</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group ">
                        <label for="id_total_budget" class="">Total Budget</label>
                        <input class="form-control" type="number" name="total_budget" step="any" id="id_total_budget"
                               placeholder="e.g. GBP 89413"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                        <label for="id_total_budget" class="">Unallocated</label>
                        <input class="form-control" type="number" name="unallocated" step="any" id="id_unallocated"
                               placeholder="e.g. GBP 89413"/>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group ">
                        <label for="id_reported" class="">Reported</label>
                        <input class="form-control" type="number" name="reported" step="any" id="id_reported"
                               placeholder="e.g. GBP 89413"/>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group ">
                        <label for="id_difference" class="">Difference</label>
                        <input class="form-control" type="number" name="difference" step="any" id="id_difference"
                               placeholder="e.g. GBP 89413"/>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group ">
                        <label for="id_reported_percentage" class="">Reported Percentage</label>
                        <input class="form-control" type="number" name="reported_percentage" step="any" id="id_reported_percentage"
                               placeholder="e.g. GBP 89413"/>
                    </div>
                </div>
                 <div class="col-md-2">
                    <div class="form-group ">
                        <label for="id_unreported_percentage" class="">Unreported Budget</label>
                        <input class="form-control" type="number" name="unreported_percentage" step="any" id="id_unreported_percentage"
                               placeholder="e.g. GBP 89413"/>
                    </div>
                </div>
            </div>
        </div>


                <!-- category form -->
                <div class="category-form form-card">
                    <div class="form-title">
                        <h3>Category</h3>
                    </div>
                    <div class="row">
<!--                        <div class="col-md-6">-->
<!--                            <div class="category-sector select-list">-->
<!--                                <h4>Sector</h4>-->
<!--                                <div class="checklist-wrapper">-->
<!--                                    <div class="checklist-body category-body">-->
<!--                                        {% for sector in sectors %}-->
<!--                                        <div class="checklist-card">-->
<!--                                            <div class="checklist-header">-->
<!--                                                <div class="custom-control custom-checkbox">-->
<!--                                                    <input type="checkbox" class="custom-control-input" name="sector"-->
<!--                                                           id="list{{sector.id}}"-->
<!--                                                           value="{{sector.id}}">-->
<!--                                                    <label class="custom-control-label"-->
<!--                                                           for="list{{sector.id}}">{{sector.name}}</label>-->

<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <ul>-->
<!--                                                {% for sub_sector in sector.Sector.all %}-->
<!--                                                <li>-->
<!--                                                    <div class="custom-control custom-checkbox">-->
<!--                                                        <input type="checkbox" class="custom-control-input"-->
<!--                                                               id="sublist{{sub_sector.id}}" name="sub_sector"-->
<!--                                                               value="{{sub_sector.id}}">-->
<!--                                                        <label class="custom-control-label"-->
<!--                                                               for="sublist{{sub_sector.id}}">{{sub_sector.name}}</label>-->

<!--                                                    </div>-->
<!--                                                </li>-->
<!--                                                {% endfor %}-->

<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                        {% endfor %}-->

<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="col-md-6">
                            <div class="category-sector select-list">
                                <h4>Marker</h4>

                                <div class="checklist-wrapper">
                                    <div class="checklist-body category-body">
                                        {% for marker in markers %}
                                        <div class="checklist-card">
                                            <div class="checklist-header">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="marker_category"
                                                           id="list_marker{{marker.id}}"
                                                           value="{{marker.id}}">
                                                    <label class="custom-control-label"
                                                           for="list_marker{{marker.id}}">{{marker.name}}</label>

                                                </div>
                                            </div>
                                            <ul>
                                                {% for marker_value in marker.MarkerCategory.all %}
                                                <li>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                               id="sublist_marker{{marker_value.id}}" name="marker_value"
                                                               value="{{marker_value.id}}">
                                                        <label class="custom-control-label"
                                                               for="sublist_marker{{marker_value.id}}">{{marker_value.value}}</label>

                                                    </div>
                                                </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>
                        </div>
<!--                        <div class="col-md-6">-->
<!--                            <div class="marker-sector select-list my-5">-->
<!--                                <h4>Partner</h4>-->
<!--                                <div class="checklist-wrapper">-->
<!--                                    <div class="checklist-body marker-body">-->
<!--                                        <div class="checklist-card">-->
<!--                                            <ul>-->
<!--                                               {% for partner in partners %}-->
<!--                                                <li>-->
<!--                                                    <div class="custom-control custom-checkbox">-->
<!--                                                        <input type="checkbox" class="custom-control-input"-->
<!--                                                               id="partner{{partner.id}}" value="{{partner.id}}" name="partner">-->
<!--                                                        <label class="custom-control-label"  for="partner{{partner.id}}">{{partner.name}}</label>-->

<!--                                                    </div>-->
<!--                                                </li>-->
<!--                                                {% endfor %}-->

<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>


        <div class="form-group mrt-100">
            <button type="submit" class="dfid-button sm-button">Save</button>
        </div>
    </form>
</main>

{% endblock %}

