{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="/dashboard/program-list/"><i class="material-icons">assignment</i> program</a>
            </li>
            <li>New</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="POST">


        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        <div class="default-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_partner_id">Select Partners</label>
                        <select name="partner_id" id="id_partner_id" placeholder="Select Partners"  multiple="multiple">
                            {% for partner in partners %}
                            <option value="{{partner.id}}">{{partner.name}}</option>
                            {% endfor %}

                        </select>
                    </div>

                </div>
            </div>
                <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_name" class="">program name</label>
                        <input type="text" class="form-control" name="name" maxlength="100" id="id_name"
                               placeholder="Name" required/>
                        <!--                        <span class="error-message"><i class="material-icons error-icon">error_outline</i>-->
                        <!--                                        Please ennter name</span>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_code" class="">Code</label>
                        <input type="text" class="form-control" name="code" maxlength="100" id="id_code"
                               placeholder="e.g. 108538" required/>
                    </div>
                </div>
                <!--                <div class="col-md-6">-->
                <!--                    <div class="form-group">-->
                <!--                        <label for="" class="">IATI Identifier</label>-->
                <!--                        <input type="text" class="form-control" placeholder="e.g. GB-1-204857-105"/>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_status">Status</label>
                        <select name="status" id="id_status" class="custom-select" required>
                            <option value="ongoing" selected>Ongoing</option>

                            <option value="completed">Completed</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_total_budget" class="">Total Approved Budget</label>
                        <input class="form-control" type="number" name="total_budget" step="any" id="id_total_budget"
                               placeholder="e.g. GBP 89413"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_total_budget_spend" class="">Budget Spend</label>
                        <input class="form-control" type="number" name="budget_spend" step="any" id="id_total_budget_spend"
                               placeholder="e.g. GBP 89413"/>
                    </div>
                </div>
            </div>
                            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_start_date" class="">Start Date</label>
                        <input class="form-control" type="date" name="start_date" step="any" id="id_start_date"
                               placeholder=""/>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_end_date" class="">End Date</label>
                        <input class="form-control" type="date" name="end_date" step="any" id="id_end_date"
                               placeholder=""/>
                    </div>
                </div>


<!--                <div class="col-md-2">-->
<!--                    <div class="form-group ">-->
<!--                        <label for="id_total_budget" class="">Unallocated</label>-->
<!--                        <input class="form-control" type="number" name="unallocated" step="any" id="id_unallocated"-->
<!--                               placeholder="e.g. GBP 89413"/>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-2">-->
<!--                    <div class="form-group ">-->
<!--                        <label for="id_reported" class="">Reported</label>-->
<!--                        <input class="form-control" type="number" name="reported" step="any" id="id_reported"-->
<!--                               placeholder="e.g. GBP 89413"/>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-2">-->
<!--                    <div class="form-group ">-->
<!--                        <label for="id_difference" class="">Difference</label>-->
<!--                        <input class="form-control" type="number" name="difference" step="any" id="id_difference"-->
<!--                               placeholder="e.g. GBP 89413"/>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-2">-->
<!--                    <div class="form-group ">-->
<!--                        <label for="id_reported_percentage" class="">Reported Percentage</label>-->
<!--                        <input class="form-control" type="number" name="reported_percentage" step="any" id="id_reported_percentage"-->
<!--                               placeholder="e.g. GBP 89413"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--                 <div class="col-md-2">-->
<!--                    <div class="form-group ">-->
<!--                        <label for="id_unreported_percentage" class="">Unreported Budget</label>-->
<!--                        <input class="form-control" type="number" name="unreported_percentage" step="any" id="id_unreported_percentage"-->
<!--                               placeholder="e.g. GBP 89413"/>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="row">
            <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_end_date" class="">Description</label>
                        <textarea class="form-control" name="description">Enter text here...</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_program_acronym" class="">Program Acronym</label>
                        <input class="form-control" type="text" name="program_acronym" step="any" id="id_program_acronym"
                               placeholder=""/>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                <label for="cmp" class="">CMP</label><br>
                <select name="cmp">
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
                </div>
                </div>
            </div>
        </div>


                <!-- category form -->
                <div class="category-form form-card">
                    <div class="form-title">
                        <h3>Category</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="category-sector select-list">
                                <h4>Sector</h4>
                                <div class="checklist-wrapper">
                                    <div class="checklist-body category-body">
                                        {% for sector in sectors %}
                                        <div class="checklist-card">
                                            <div class="checklist-header">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input sector-cls" name="sector"
                                                           id="list{{sector.id}}"
                                                           value="{{sector.id}}" val_name="{{ sector.name }}">
                                                    <label class="custom-control-label"
                                                           for="list{{sector.id}}">{{sector.name}}</label>
<!---->
                                                </div>
                                            </div>
                                            <ul>
                                                {% for sub_sector in sector.Sector.all %}
                                                <li>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                               id="sublist{{sub_sector.id}}" name="sub_sector"
                                                               value="{{sub_sector.id}}">
                                                        <label class="custom-control-label"
                                                               for="sublist{{sub_sector.id}}">{{sub_sector.name}}</label>
<!---->
                                                    </div>
                                                </li>
                                                {% endfor %}
<!---->
                                            </ul>
                                        </div>
                                        {% endfor %}
<!---->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="category-sector select-list">
                                <h4>Marker</h4>

                                <div class="checklist-wrapper">
                                    <div class="checklist-body category-body">
                                        {% for marker in markers %}
                                        <div class="checklist-card">
                                            <div class="checklist-header">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="marker_category"
                                                           id="list_marker{{marker.id}}"
                                                           value="{{marker.id}}">
                                                    <label class="custom-control-label"
                                                           for="list_marker{{marker.id}}">{{marker.name}}</label>

                                                </div>
                                            </div>
                                            <ul>
                                                {% for marker_value in marker.MarkerCategory.all %}
                                                <li>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                               id="sublist_marker{{marker_value.id}}" name="marker_value"
                                                               value="{{marker_value.id}}">
                                                        <label class="custom-control-label"
                                                               for="sublist_marker{{marker_value.id}}">{{marker_value.value}}</label>

                                                    </div>
                                                </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>
                        </div>
<!--                        <div class="col-md-6">-->
<!--                            <div class="marker-sector select-list my-5">-->
<!--                                <h4>Partner</h4>-->
<!--                                <div class="checklist-wrapper">-->
<!--                                    <div class="checklist-body marker-body">-->
<!--                                        <div class="checklist-card">-->
<!--                                            <ul>-->
<!--                                               {% for partner in partners %}-->
<!--                                                <li>-->
<!--                                                    <div class="custom-control custom-checkbox">-->
<!--                                                        <input type="checkbox" class="custom-control-input"-->
<!--                                                               id="partner{{partner.id}}" value="{{partner.id}}" name="partner">-->
<!--                                                        <label class="custom-control-label"  for="partner{{partner.id}}">{{partner.name}}</label>-->

<!--                                                    </div>-->
<!--                                                </li>-->
<!--                                                {% endfor %}-->

<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>
        <input type="hidden" id="sector_budget_id" name="sector_budget" value="0:0">
        <div class="form-group mrt-100" style="margin-top:50px;margin-bottom: 30px;">
            <button type="button" id="sector_budget_btn" class="btn btn-primary" data-toggle="modal" data-target="#SectorModal" disabled="disabled">
          Sector Budget
        </button>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="SectorModal" tabindex="-1" role="dialog" aria-labelledby="SectorModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="modal_body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id='sector_modal_save' type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mrt-100" style="margin-top:50px;">
            <button type="submit" class="dfid-button sm-button">Save</button>
        </div>
    </form>
</main>

{% endblock %}
{% block five_add %}
{% endblock %}
{% block script %}
<script>

    $(document).ready(function() {
        $('#id_partner_id').multipleSelect()

        function checkFunction() {
            var count = 0
            $('.sector-cls').each(function () {
                if ($(this).prop('checked')) {
                    count += 1
                } else {
                    $('#sector_budget_btn').prop('disabled', true);
                }
            })
            if (count > 0) {
                $('#sector_budget_btn').prop('disabled', false);
            }
        }
        $('.sector-cls').change(function (e) {
            e.preventDefault()
            checkFunction()

        })
        $('#SectorModal').on('shown.bs.modal', function () {
            var in_html = []
            $('.sector-cls').each(function () {
                if ($(this).prop('checked')) {
                    in_html.push('<div class="row"><label class="col" style="margin-right:30px;margin-left:10px;">'+ String($(this).attr('val_name')) +'</label><input valName="' + String($(this).val()) + '" class="col form-control modal_sector" style="width:80%;" type="number" value="0"></div>')
                }
            })
            $('#modal_body').html(in_html.join(', '))
        })
        $('#sector_modal_save').click(function(e) {
            e.preventDefault()
            var temp_data = []
            $('.modal_sector').each(function() {
                temp_data.push(String($(this).attr('valName')) + ':' + String($(this).val()))
            })
            $('#sector_budget_id').val(temp_data.join())
            $('#SectorModal').modal('toggle')

        })
    })
</script>
{% endblock %}

