{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    select {
      width: 100%;
    }
</style>
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> Components</a>
            </li>
            {% if perms.core.add_project %}
            <li><a href="/dashboard/project-add" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>New</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <br>
        <form method="GET">
            <div class="row">
                <div class="col">
                    <select placeholder="Select Program" id="elmt" name="program"  class="multiple-select" multiple="multiple">
                        {% for program in program %}
                                <option value="{{program.id}}">{{program.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                        <button type="submit" class="btn btn-primary" style="margin-right:1px;height: 25px;display:flex;justify-content:center;align-items:center;">Search</button>
                    </div>
            </div>
        </form>
    <!-- dfid program table -->
    <div class="table-tesponsive program-list">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <table class="program-table dataTable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Program</th>
                <th>Code</th>

                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for project in list %}
            <tr>
                <td>{{ project.id }}</td>
                <td>
                    <strong><a href="#">{{project.name}}</a></strong>
                </td>
                <td>{{ project.program_id }}</td>
                <td>{{ project.code }}</td>


                <td>
                    <div class="table-action">
                        <a href="#" class="more-action">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-animation">
                            {% if perms.core.change_project %}
                            <li>
                                <a href="/dashboard/project-edit/{{ project.id }}" class="flex-start">
                                    <i class="material-icons">edit</i> Edit
                                </a>
                            </li>
                            {% endif %}
                            {% if perms.core.delete_project %}
                            <li>
                                <a href="/dashboard/project-delete/{{ project.id }}" class="flex-start">
                                    <i class="material-icons">delete</i>delete
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</main>
{% endblock %}
{% block script %}

<script>
    function selectFunction(id, data) {
        $(id).multipleSelect({
            selectAll: false,
            styler: function(row) {
                for(var i=0;i<data.length;i++) {
                    if (data[i] == row.value) {
                        row.selected = true;
                    };
                }
                return row
            }
        });

    }
  $(function() {
    var data = [{% for x in selected %}'{{x}}',{% endfor %}]
    var flag = true;
        if(flag == true) {
            selectFunction('.multiple-select', data);

            flag = false;
        };
  })
</script>
<script>
     $(".multiple-select option").each(function (idx, val) {
       $(this).siblings("[value='" + $(this).val() + "']").remove();
  });
</script>
<script>
    $("#elmt").append($("#elmt option")
                  .remove().sort(function(a, b) {
    var at = $(a).text().toUpperCase(),
        bt = $(b).text().toUpperCase();
    return (at > bt) ? 1 : ((at < bt) ? -1 : 0);
}));
</script>

{% endblock %}