{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="/dashboard/project-list/"><i class="material-icons">assignment</i> Component</a>
            </li>
            <li>New</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="POST">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        <div class="default-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_program">Select Program</label>
                        <select name="program_id" id="id_program" class="custom-select">

                            {% for program in programs %}
                            {% for dat in program.partner_id.all %}
                                {% if form.instance.program_id.id == program.id %}
                                <option value="{{program.id}}" valu="{{dat.id}}" selected>{{program.name}}</option>
                                {% else %}
                                <option value="{{program.id}}" valu="{{dat.id}}">{{program.name}}</option>
                                {% endif %}
                            {% endfor %}
                            {% endfor %}

                        </select>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_partners_id">Select Partners</label>
                        <select name="partner_id" placeholder="Select Partners" id="id_partners_id" multiple="multiple">
                            {% for partner in partners %}
                            <option value="{{partner.id}}">{{partner.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>


            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_name" class="">Name</label>
                        <input type="text" class="form-control" name="name" maxlength="100" id="id_name"
                               placeholder="Name" value="{{ form.instance.name }}"/>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_code" class="">Code</label>
                        <input type="text" class="form-control" name="code" maxlength="100" id="id_code"
                               placeholder="84349" value="{{ form.instance.code }}"/>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_start_date" class="">Start Date</label>
                        <input class="form-control" type="date" value="{{form.instance.start_date|date:'Y-m-d'}}" name="start_date" step="any" id="id_start_date"
                               placeholder=""/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_end_date" class="">End Date</label>
                        <input class="form-control" type="date" value="{{form.instance.end_date|date:'Y-m-d'}}" name="end_date" step="any" id="id_end_date"
                               placeholder=""/>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_end_date" class="">Description</label>
                        <textarea class="form-control" name="description">{{form.instance.description}}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_component_acronym" class="">Component Acronym</label>
                        <input class="form-control" type="text" name="component_acronym" value="{{form.instance.component_acronym}}" step="any" id="id_component_acronym"
                               placeholder=""/>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                <label  class="">Federal Intervention</label><br>
                <select name="federal_intervention">
                    <option value="True" {% if form.instance.federal_intervention == True %} selected {% endif %}>Yes</option>
                    <option value="False"{% if form.instance.federal_intervention == False %} selected {% endif %}>No</option>
                </select>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="id_total_budget" class="">Total Approved Budget</label>
                        <input class="form-control" type="number" name="approved_budget" step="any" id="id_total_budget"
                               placeholder="e.g. GBP 89413" value="{{ form.instance.approved_budget }}"/>
                    </div>
                </div>
            </div>

        <!-- category form -->
        <div class="category-form form-card">
            <div class="form-title">
                <h3>Category</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="category-sector select-list">
                        <h4>Sector</h4>
                        <div class="checklist-wrapper">
                            <div class="checklist-body category-body">

                                {% for sector in form.instance.sector.all %}
                                <div class="checklist-card ">
                                    <div class="checklist-header active">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="sector"
                                                   id="list{{sector.id}}"
                                                   value="{{sector.id}}" checked>
                                            <label class="custom-control-label"
                                                   for="list{{sector.id}}">{{sector.name}}</label>

                                        </div>
                                    </div>
                                    <ul style="display: block;">
                                        {% for sub_sector in sector.Sector.all %}
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="sublist{{sub_sector.id}}" name="sub_sector"
                                                       value="{{sub_sector.id}}" {% for i in form.instance.sub_sector.all %} {% if i.id == sub_sector.id %} checked  {% endif %} {% endfor %}>
                                                <label class="custom-control-label"
                                                       for="sublist{{sub_sector.id}}">{{sub_sector.name}}</label>

                                            </div>
                                        </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                {% endfor %}


                                 {% for sector in sectors %}
                                <div class="checklist-card ">
                                    <div class="checklist-header ">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="sector"
                                                   id="list{{sector.id}}"
                                                   value="{{sector.id}}">
                                            <label class="custom-control-label"
                                                   for="list{{sector.id}}">{{sector.name}}</label>

                                        </div>
                                    </div>
                                    <ul>
                                        {% for sub_sector in sector.Sector.all %}
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="sublist{{sub_sector.id}}" name="sub_sector"
                                                       value="{{sub_sector.id}}">
                                                <label class="custom-control-label"
                                                       for="sublist{{sub_sector.id}}">{{sub_sector.name}}</label>

                                            </div>
                                        </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                {% endfor %}




                            </div>
                        </div>
                    </div>
                </div>

<!--                <div class="col-md-6">-->
<!--                    <div class="category-sector select-list">-->
<!--                        <h4>Marker</h4>-->

<!--                        <div class="checklist-wrapper">-->
<!--                            <div class="checklist-body category-body">-->

<!--                                {% for marker in form.instance.marker_category.all %}-->
<!--                                <div class="checklist-card">-->
<!--                                    <div class="checklist-header active">-->
<!--                                        <div class="custom-control custom-checkbox">-->
<!--                                            <input type="checkbox" class="custom-control-input" name="marker_category"-->
<!--                                                   id="list_marker{{marker.id}}"-->
<!--                                                   value="{{marker.id}}" checked>-->
<!--                                            <label class="custom-control-label"-->
<!--                                                   for="list_marker{{marker.id}}">{{marker.name}}</label>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <ul style="display: block;">-->
<!--                                        {% for marker_value in marker.MarkerCategory.all %}-->
<!--                                        <li>-->
<!--                                            <div class="custom-control custom-checkbox">-->
<!--                                                <input type="checkbox" class="custom-control-input"-->
<!--                                                       id="sublist_marker{{marker_value.id}}" name="marker_value"-->
<!--                                                       value="{{marker_value.id}}" {% for i in form.instance.marker_value.all %} {% if i.id == marker_value.id %} checked  {% endif %} {% endfor %}>-->
<!--                                                <label class="custom-control-label"-->
<!--                                                       for="sublist_marker{{marker_value.id}}">{{marker_value.value}}</label>-->

<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        {% endfor %}-->

<!--                                    </ul>-->
<!--                                </div>-->
<!--                                {% endfor %}-->

<!--                                {% for marker in markers %}-->
<!--                                <div class="checklist-card">-->
<!--                                    <div class="checklist-header">-->
<!--                                        <div class="custom-control custom-checkbox">-->
<!--                                            <input type="checkbox" class="custom-control-input" name="marker_category"-->
<!--                                                   id="list_marker{{marker.id}}"-->
<!--                                                   value="{{marker.id}}">-->
<!--                                            <label class="custom-control-label"-->
<!--                                                   for="list_marker{{marker.id}}">{{marker.name}}</label>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <ul>-->
<!--                                        {% for marker_value in marker.MarkerCategory.all %}-->
<!--                                        <li>-->
<!--                                            <div class="custom-control custom-checkbox">-->
<!--                                                <input type="checkbox" class="custom-control-input"-->
<!--                                                       id="sublist_marker{{marker_value.id}}" name="marker_value"-->
<!--                                                       value="{{marker_value.id}}">-->
<!--                                                <label class="custom-control-label"-->
<!--                                                       for="sublist_marker{{marker_value.id}}">{{marker_value.value}}</label>-->

<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        {% endfor %}-->

<!--                                    </ul>-->
<!--                                </div>-->
<!--                                {% endfor %}-->




<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="marker-sector select-list my-5">-->
<!--                        <h4>Partner</h4>-->
<!--                        <div class="checklist-wrapper">-->
<!--                            <div class="checklist-body marker-body">-->
<!--                                <div class="checklist-card">-->
<!--                                    <ul>-->
<!--                                        {% for partner in form.instance.partner.all %}-->
<!--                                        <li>-->
<!--                                            <div class="custom-control custom-checkbox">-->
<!--                                                <input type="checkbox" class="custom-control-input"-->
<!--                                                       id="partner{{partner.id}}" value="{{partner.id}}" name="partner" checked>-->
<!--                                                <label class="custom-control-label"  for="partner{{partner.id}}">{{partner.name}}</label>-->

<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        {% endfor %}-->


<!--                                       {% for partner in partners %}-->
<!--                                        <li>-->
<!--                                            <div class="custom-control custom-checkbox">-->
<!--                                                <input type="checkbox" class="custom-control-input"-->
<!--                                                       id="partner{{partner.id}}" value="{{partner.id}}" name="partner">-->
<!--                                                <label class="custom-control-label"  for="partner{{partner.id}}">{{partner.name}}</label>-->

<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        {% endfor %}-->

<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

 <div class="form-group mrt-100">
                <button type="submit" class="dfid-button sm-button">Save</button>
            </div>

        </div>
    </form>
</main>

{% endblock %}
{% block five_add %}
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        var part = [{% for x in selectpartner %}{% for y in x.partner_id.all %}'{{y.id}}', {% endfor %}{% endfor %}]
        $('#id_partners_id').multipleSelect();
        var dataValue = []
        $('#id_program option').each(function () {
            if(dataValue.includes($(this).val())) {
                if($(this).is(':selected') == false) {
                    $(this).css('display', 'none');
                }
            };
            dataValue.push($(this).val());
        })
        flag = true;
        if (flag) {
            var dass = $('#id_program').val()
            $('#id_program option').each(function () {
                if($(this).val() == dass) {
                    var change_val = $(this).attr('valu')
                }
                $('#id_partners_id option').each(function () {
                    if(part.includes($(this).val())) {
                        $(this).prop('selected', true);
                    }
                })
            })
            $('#id_partners_id').multipleSelect('refresh');
            flag = false;
        }
        $('#id_program').change(function() {
            $('#id_partners_id').multipleSelect('uncheckAll');
            change_value = $(this).val()
            $('#id_program option').each(function () {
                $(this).css('display', 'block');
            })
            $('#id_program option').each(function () {
                if ($(this).val() == change_value) {
                    change_valu = $(this).attr('valu')
                    console.log(change_valu)
                    $('#id_partners_id option').each(function () {
                        if ($(this).val() == change_valu) {
                            $(this).prop('selected', true);
                        }
                    })
                }
            })
            $('#id_partners_id').multipleSelect('refresh');
            var dataValue = []
            $('#id_program option').each(function () {
                if(dataValue.includes($(this).val())) {
                    $(this).css('display', 'none');
                };
                dataValue.push($(this).val());
            })
        })
    })
</script>
{% endblock %}

