{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> Component</a>
            </li>
            <li>New</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="POST">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        <div class="default-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_program">Select Program</label>
                        <select name="program_id" id="id_program" class="custom-select">

                            {% for program in programs %}
                            {% if form.instance.program_id.id == program.id %}
                            <option value="{{program.id}}" selected>{{program.name}}</option>
                            {% else %}
                            <option value="{{program.id}}">{{program.name}}</option>
                            {% endif %}
                            {% endfor %}

                        </select>
                    </div>

                </div>


            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_name" class="">Name</label>
                        <input type="text" class="form-control" name="name" maxlength="100" id="id_name"
                               placeholder="Name" value="{{ form.instance.name }}"/>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_code" class="">Code</label>
                        <input type="text" class="form-control" name="code" maxlength="100" id="id_code"
                               placeholder="84349" value="{{ form.instance.code }}"/>

                    </div>
                </div>

            </div>





        <!-- category form -->
        <div class="category-form form-card">
            <div class="form-title">
                <h3>Category</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="category-sector select-list">
                        <h4>Sector</h4>
                        <div class="checklist-wrapper">
                            <div class="checklist-body category-body">

                                {% for sector in form.instance.sector.all %}
                                <div class="checklist-card ">
                                    <div class="checklist-header active">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="sector"
                                                   id="list{{sector.id}}"
                                                   value="{{sector.id}}" checked>
                                            <label class="custom-control-label"
                                                   for="list{{sector.id}}">{{sector.name}}</label>

                                        </div>
                                    </div>
                                    <ul style="display: block;">
                                        {% for sub_sector in sector.Sector.all %}
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="sublist{{sub_sector.id}}" name="sub_sector"
                                                       value="{{sub_sector.id}}" {% for i in form.instance.sub_sector.all %} {% if i.id == sub_sector.id %} checked  {% endif %} {% endfor %}>
                                                <label class="custom-control-label"
                                                       for="sublist{{sub_sector.id}}">{{sub_sector.name}}</label>

                                            </div>
                                        </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                {% endfor %}


                                 {% for sector in sectors %}
                                <div class="checklist-card ">
                                    <div class="checklist-header ">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="sector"
                                                   id="list{{sector.id}}"
                                                   value="{{sector.id}}">
                                            <label class="custom-control-label"
                                                   for="list{{sector.id}}">{{sector.name}}</label>

                                        </div>
                                    </div>
                                    <ul>
                                        {% for sub_sector in sector.Sector.all %}
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="sublist{{sub_sector.id}}" name="sub_sector"
                                                       value="{{sub_sector.id}}">
                                                <label class="custom-control-label"
                                                       for="sublist{{sub_sector.id}}">{{sub_sector.name}}</label>

                                            </div>
                                        </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                {% endfor %}




                            </div>
                        </div>
                    </div>
                </div>

<!--                <div class="col-md-6">-->
<!--                    <div class="category-sector select-list">-->
<!--                        <h4>Marker</h4>-->

<!--                        <div class="checklist-wrapper">-->
<!--                            <div class="checklist-body category-body">-->

<!--                                {% for marker in form.instance.marker_category.all %}-->
<!--                                <div class="checklist-card">-->
<!--                                    <div class="checklist-header active">-->
<!--                                        <div class="custom-control custom-checkbox">-->
<!--                                            <input type="checkbox" class="custom-control-input" name="marker_category"-->
<!--                                                   id="list_marker{{marker.id}}"-->
<!--                                                   value="{{marker.id}}" checked>-->
<!--                                            <label class="custom-control-label"-->
<!--                                                   for="list_marker{{marker.id}}">{{marker.name}}</label>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <ul style="display: block;">-->
<!--                                        {% for marker_value in marker.MarkerCategory.all %}-->
<!--                                        <li>-->
<!--                                            <div class="custom-control custom-checkbox">-->
<!--                                                <input type="checkbox" class="custom-control-input"-->
<!--                                                       id="sublist_marker{{marker_value.id}}" name="marker_value"-->
<!--                                                       value="{{marker_value.id}}" {% for i in form.instance.marker_value.all %} {% if i.id == marker_value.id %} checked  {% endif %} {% endfor %}>-->
<!--                                                <label class="custom-control-label"-->
<!--                                                       for="sublist_marker{{marker_value.id}}">{{marker_value.value}}</label>-->

<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        {% endfor %}-->

<!--                                    </ul>-->
<!--                                </div>-->
<!--                                {% endfor %}-->

<!--                                {% for marker in markers %}-->
<!--                                <div class="checklist-card">-->
<!--                                    <div class="checklist-header">-->
<!--                                        <div class="custom-control custom-checkbox">-->
<!--                                            <input type="checkbox" class="custom-control-input" name="marker_category"-->
<!--                                                   id="list_marker{{marker.id}}"-->
<!--                                                   value="{{marker.id}}">-->
<!--                                            <label class="custom-control-label"-->
<!--                                                   for="list_marker{{marker.id}}">{{marker.name}}</label>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <ul>-->
<!--                                        {% for marker_value in marker.MarkerCategory.all %}-->
<!--                                        <li>-->
<!--                                            <div class="custom-control custom-checkbox">-->
<!--                                                <input type="checkbox" class="custom-control-input"-->
<!--                                                       id="sublist_marker{{marker_value.id}}" name="marker_value"-->
<!--                                                       value="{{marker_value.id}}">-->
<!--                                                <label class="custom-control-label"-->
<!--                                                       for="sublist_marker{{marker_value.id}}">{{marker_value.value}}</label>-->

<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        {% endfor %}-->

<!--                                    </ul>-->
<!--                                </div>-->
<!--                                {% endfor %}-->




<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="marker-sector select-list my-5">-->
<!--                        <h4>Partner</h4>-->
<!--                        <div class="checklist-wrapper">-->
<!--                            <div class="checklist-body marker-body">-->
<!--                                <div class="checklist-card">-->
<!--                                    <ul>-->
<!--                                        {% for partner in form.instance.partner.all %}-->
<!--                                        <li>-->
<!--                                            <div class="custom-control custom-checkbox">-->
<!--                                                <input type="checkbox" class="custom-control-input"-->
<!--                                                       id="partner{{partner.id}}" value="{{partner.id}}" name="partner" checked>-->
<!--                                                <label class="custom-control-label"  for="partner{{partner.id}}">{{partner.name}}</label>-->

<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        {% endfor %}-->


<!--                                       {% for partner in partners %}-->
<!--                                        <li>-->
<!--                                            <div class="custom-control custom-checkbox">-->
<!--                                                <input type="checkbox" class="custom-control-input"-->
<!--                                                       id="partner{{partner.id}}" value="{{partner.id}}" name="partner">-->
<!--                                                <label class="custom-control-label"  for="partner{{partner.id}}">{{partner.name}}</label>-->

<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        {% endfor %}-->

<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

 <div class="form-group mrt-100">
                <button type="submit" class="dfid-button sm-button">Save</button>
            </div>

        </div>
    </form>
</main>

{% endblock %}

