{% load static %}﻿
<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive DFID Dashboard.">
    <title>DFID Dashboard</title>
    <link rel="icon" href="{% static 'dashboard/images/favicon.icon' %}" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
</head>

<body class="">
    <!-- login page start -->
    <div class="registration-heading">
        <div class="header">
            <img class="logo" src="{% static 'dashboard/images/dfid-logo.png' %}" alt="">
            <img src="{% static 'dashboard/images/map.png' %}" alt="map" class="img-map"/>
        </div>
    </div>
    <div class="authentication registration">
        <!-- login form start -->

        <div class="col-9 col-sm-8 col-md-8 col-lg-6">
            <div class="auth-form login-form registration-form">
                <div class="login-wrap">
                    <div class="message-wrapper">
                        <i class="material-icons check-circle">check</i>
                        <div class="message-box">
                            <h3>User Account Successfully Registered</h3>
                            <h3>Contact Your Administrator To Activate Your Account</h3>
                        </div>
                        <span>Thank You</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
<!--    <script src="js/jquery-3.4.1.min.js"></script>-->
<!--    <script src="js/bootstrap.min.js"></script>-->
<!--    <script src="js/jquery.slimscroll.min.js"></script>-->
<!--    <script src="js/mainscripts.bundle.js"></script>-->
<!--    <script src="js/equalHeight.js"></script>-->
<!--    <script src="plugins/datatable/dataTables.min.js"></script>-->
<!--    <script src="plugins/datatable/dataTables.bootstrap.min.js"></script>-->
<!--    <script src="plugins/datatable/dataTables.button.js"></script>-->
<!--    <script src="plugins/datatable/jszip.min.js"></script>-->
<!--    <script src="plugins/datatable/buttons.html5.min.js"></script>-->
<!--    <script src="plugins/datatable/custom-datatables.js"></script>-->
</body>


</html>