{% load static %}﻿
<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive DFID Dashboard.">
    <title>DFID Dashboard</title>
    <link rel="icon" href="{% static 'dashboard/images/favicon.icon' %}" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
</head>

<body class="">
<!-- login page start -->
<div class="registration-heading" style="margin-top: -24px;">
    <div class="header">
        <img class="logo" src="{% static 'dashboard/images/dfid-logo.png' %}" alt="">
        <img src="{% static 'dashboard/images/map.png' %}" alt="map" class="img-map"/>
    </div>
</div>
<div class="authentication registration">
    <!-- login form start -->

    <div class="col-9 col-sm-8 col-md-8 col-lg-6">
        <div class="auth-form login-form registration-form">
            <div class="login-wrap">
                <div class="login-header">
                    <h3>User Signup</h3>
                </div>
                <form class="program-form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.name|title }} {{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="id_username" class="">Username:</label>
                        <input type="text" name="username" class="form-control" maxlength="150" autofocus required
                               id="id_username"/>
                    </div>

                    <div class="form-group">
                        <label for="id_password1">Password:</label>
                        <input type="password" class="form-control" name="password1" required id="id_password1"/>
                    </div>

                    <div class="form-group">
                        <label for="id_password2">Password confirmation:</label>
                        <input type="password" class="form-control" name="password2" required id="id_password2"/>
                    </div>

                    <div class="form-group">
                        <label for="id_name">Full Name:</label>
                        <input type="text" class="form-control" name="name" required id="id_name"/>
                    </div>

                    <div class="form-group">
                        <label for="id_email">Email:</label>
                        <input type="email" class="form-control" name="email" required id="id_email"/>
                    </div>

                    <div class="form-group">
                        <label for="id_partner">Select Partner For User</label>
                        <select name="partner" id="id_partner" class="custom-select" required>
                            {% for partner in partners %}
                            <option value={{ partner.id }}>{{ partner.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

<!--                    <div class="form-group">-->
<!--                        <label for="id_program">Select Program For User</label>-->
<!--                        <select name="program" id="id_program" class="custom-select" required>-->
<!--                            {% for program in programs %}-->
<!--                            <option value={{ program.id }}>{{ program.name }}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label for="id_project">Select Project For User</label>-->
<!--                        <select name="project" id="id_project" class="custom-select" required>-->
<!--                            {% for project in projects %}-->
<!--                            <option value={{ project.id }}>{{ project.name }}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                    </div>-->

                    <div class="form-group ">
                        <label for="id_image" class="">Image</label>
                        <input type="file" name="image" id="id_image">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="dfid-button">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>


</html>