{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i>User</a>
            </li>
            <li>Update</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="POST">

        {% csrf_token %}

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="default-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_name">Username</label>
                        <input type="text" class="form-control" name="username" value="{{form.instance.user.username}}" required id="id_name"/>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_name">Full Name:</label>
                        <input type="text" class="form-control" name="name" value="{{form.instance.name}}" required id="id_name"/>
                    </div>
                        </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_email">Email:</label>
                        <input type="email" class="form-control" name="email" value="{{form.instance.email}}" required id="id_email"/>
                    </div>
                    </div>
                </div>

                    <div class="form-group">
                        <label for="id_partner">Select Partner For User</label>
                        <select name="partner" id="id_partner" class="custom-select" required>
                            <option value='' disabled>Select One</option>
                            {% for partner in partner %}
                            {% if partner.id == form.instance.partner.id %}
                                <option value='{{ partner.id }}' selected>{{ partner.name }}</option>
                            {% else %}
                                <option value='{{ partner.id }}'>{{ partner.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_partner">Select Program For User</label>
                        <select name="program" id="id_program" class="custom-select" required>
                            <option value='' disabled>Select One</option>
                            {% for program in programs %}

                            {% if program.id == form.instance.program.id %}
                                <option value='{{ program.id }}' valId="{{program.partner_id__id}}" selected>{{ program.name }}</option>
                            {% else %}
                                <option value='{{ program.id }}' valId="{{program.partner_id__id}}">{{ program.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_project">Select Component For User</label>
                        <select name="project" id="id_project" class="custom-select" required>
                            <option value='' disabled>Select One</option>
                            {% for project in projects %}
                            {% if project.id == form.instance.project.id %}
                                <option value='{{ project.id }}' valId="{{project.program_id__id}}" valId1="{{project.partner_id__id}}" selected>{{ project.name }}</option>
                            {% else %}
                                <option value='{{ project.id }}' valId="{{project.program_id__id}}" valId1="{{project.partner_id__id}}">{{ project.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="id_group">Select Role For User</label>
                        <select name="group" id="id_group" class="custom-select" required>
                            {% for d in groups %}
                            {% if form.instance.user.groups.first.id == d.id %}
                            <option value={{d.id}} selected>{{d.name}}</option>
                            {% else %}
                            <option value={{d.id}}>{{d.name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group ">
                        <label for="id_image" class="">Image</label>
                        <input type="file" name="image" id="id_image">
                    </div>
                    <div class="form-group ">
                        <input type="hidden" name="user" value="{{form.instance.user.id}}"  id="id_user">
                    </div>
                    <div style="text-align:center">
                    <div class="form-group">
                        <button type="submit" class="dfid-button">Update</button>
                    </div>
                        </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block script %}
<script src="{% static 'dashboard/js/jquery-3.4.1.min.js' %}"></script>
<script>
    function changefunction(change_value, to_be_changed_id) {

        $(to_be_changed_id + ' option').each(function() {
            $(this).css('display', 'none');
            if ($(this).val() == '') {
                $(this).prop('selected', true)
            }
        });
        $(to_be_changed_id + ' option').each(function() {
            var sl = $('#id_partner').val()
            if ((to_be_changed_id == '#id_project') && (sl != null)) {
                if (($(this).attr('valId') == change_value) && (change_value != '') && ($(this).attr('valId1') == sl)) {
                    $(this).css('display', 'block');
                };
            }else {
                if (($(this).attr('valId') == change_value) && (change_value != '')) {
                    $(this).css('display', 'block');
                };
            }
        });
    };

    function changeonefunction(change_value, to_be_changed_id) {
        var dataValue = [];
        $(to_be_changed_id + ' option').each(function() {
            $(this).css('display', 'none');
            var sl = $('#id_partner').val()
            if ((to_be_changed_id == '#id_project') && (sl != null)) {
                if (($(this).attr('valId') == change_value) && (change_value != '') && ($(this).attr('valId1') == sl)) {
                    $(this).css('display', 'block');
                };
            }else {
                if (($(this).attr('valId') == change_value) && (change_value != '')) {
                    $(this).css('display', 'block');
                };
            }
        });
    };
    function chfunction(change_value, to_be_changed_id) {

        $(to_be_changed_id + ' option').each(function() {
            $(this).css('display', 'none');
            if ($(this).val() == '') {
                $(this).prop('selected', true)
            }
        });
        $(to_be_changed_id + ' option').each(function() {
            var f_this = $(this)
            $(change_value + ' option').each(function() {
                if ((f_this.attr('valId') == $(this).val()) && ($(this).val() != '')  && (f_this.attr('valId1') == $('#id_partner').val())) {

                    if($(this).css('display') == 'block') {
                        f_this.css('display', 'block');
                    }

                };
            });
        });
    };
</script>
<script>
 $(document).ready(function() {
    var flag = true;
    if (flag) {
        changeonefunction($('#id_partner').val(), '#id_program');
        changeonefunction($('#id_program').val(), '#id_project');
        flag = false;
    }
    $('#id_partner').change(function(e) {
        e.preventDefault();
        changefunction($(this).val(), '#id_program')
        chfunction('#id_program', '#id_project')
    });
    $('#id_program').change(function(e) {
        e.preventDefault();
        changefunction($(this).val(), '#id_project')
    });
});
</script>
{% endblock %}