{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="dfid-main">
    <!-- dfid breadcrumb -->
    <div class="dfid-breadcrumb pdt-100">
        <ul class="flex-start">
            <li>
                <a href="#"><i class="material-icons">assignment</i> User</a>
            </li>
            <!-- <li><a href="/dashboard/invitation" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>Invite user</a> -->
                <li style="padding-left:10px"><a href="/dashboard/createuser" class="border-button dfid-button sm-button"><i class="material-icons">add_circle_outline</i>Create user</a>
            </li>
        </ul>
    </div>
    <!-- dfid program table -->
    <div class="table-tesponsive program-list">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <table class="program-table dataTable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>User Status</th>
                <th>role</th>
                <th>Partner</th>
                <th>Program</th>
                <th>Project</th>

                <!--                <th></th>-->
            </tr>
            </thead>
            <tbody>
            {% for user in list %}
            <tr>
                <td><a href="/dashboard/updateuser/{{user.id}}">{{ user.id }}</a></td>
                <td>
                    <a href="/dashboard/updateuser/{{user.id}}" class="partner-info flex-start">
                        {% if user.thumbnail %}
                        <img src="{{ user.thumbnail.url }}" alt="org"/>
                        {% else %}
                        <img src="{% static 'dashboard/images/admin.png' %}" alt="org"/>
                        {% endif %}
                        <h6>{{user.name}}</h6>
                    </a>
                </td>
                <td><a href="/dashboard/updateuser/{{user.id}}">{{ user.email }}</a></td>
                <td>


                    {% if user.user.is_active %}

                    <a href="/dashboard/activate/{{ user.user.id }}">
                        <button type="button" class="btn btn-outline-info">De-Activate</button>
                    </a>

                    {% else %}

                    <a href="/dashboard/activate/{{ user.user.id }}">
                        <button type="button" class="btn btn-outline-info">Activate</button>
                    </a>

                    {% endif %}


                </td>
                <td>
                    {% if user.user.is_superuser %}
                    <a href="/dashboard/updateuser/{{user.id}}">admin</a>
                    {% else %}

                    {% if user.user.groups.all.exists %}

                    {% for grp in user.user.groups.all %}
                    <a href="test.html">{{ grp.name }}</a>
                    {% endfor %}

                    {% else %}

                    <a href="/dashboard/assign-role/{{ user.user.id }}"><button type="button" class="btn btn-outline-info">Assign Role</button></a>

                    {% endif %}
                    {% endif %}

                </td>
                <td><a href="/dashboard/updateuser/{{user.id}}">{{ user.partner }}</a></td>
                <td><a href="/dashboard/updateuser/{{user.id}}">{{ user.program }}</a></td>
                <td><a href="/dashboard/updateuser/{{user.id}}">{{ user.project }}</a></td>

                <!--                <td>-->
                <!--                    <div class="table-action">-->
                <!--                        <a href="#" class="more-action">-->
                <!--                            <i class="material-icons">more_vert</i>-->
                <!--                        </a>-->
                <!--                        <ul class="dropdown-animation">-->
                <!--                            <li>-->
                <!--                                <a href="/dashboard/user-edit/{{ user.id }}" class="flex-start">-->
                <!--                                    <i class="material-icons">edit</i> Edit-->
                <!--                                </a>-->
                <!--                            </li>-->
                <!--                            <li>-->
                <!--                                <a href="/dashboard/user-delete/{{ user.id }}" class="flex-start">-->
                <!--                                    <i class="material-icons">delete</i>Delete-->
                <!--                                </a>-->

                <!--                            </li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </td>-->
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</main>
{% endblock %}